<section id="card-actions">

    <div class="row">
        <div class="col-xs-12">
            <div class="card">

                <div class="card-body collapse in">
                    <div class="card-block">
                        <h3 class="card-title">الموردين</h3>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <input type="text" [(ngModel)]="term" placeholder="بحث" class="form-control" />

                                <div class="table-responsive">
                                    <table class="table  table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>اسم المورد</th>
                                                <th> المخزن </th>
                                                <th> هاتف </th>
                                                <th> محمول </th>
                           
                      
                           
                                                <th><button class="btn btn-outline-success" routerLink="/Suppliers"><i
                                                            class="fa fa-plus"></i>
                                                        اضافة مورد</button></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="suppList">
                                            <tr *ngFor="let supp of suppList | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index " style="cursor: pointer;">
                                                <th scope="row">  {{( i + 1 ) }}</th>
                                                <td (click)="openForEdit(supp.SupplierId)">{{ supp.SupplierName }}</td>
                                                <td (click)="openForEdit(supp.SupplierId)">{{supp.StoreId}}</td>
                                                <td (click)="openForEdit(supp.SupplierId)">{{supp.tele}}</td>
                                                <td (click)="openForEdit(supp.SupplierId)">{{supp.mob1}}</td>
                                                <td><a class="btn text-danger" *ngIf="UserType=='ADMIN'"
                                                        (click)="onOrderDelete(i,supp.SupplierId)"><i
                                                            class="fa fa-trash fa-lg"></i> </a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="col-md-3">
                                ...

                                عدد السجلات فى الصفحة: 
                                <select (change)="handlePageSizeChange($event)">
                                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                                        {{ size }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                    (pageChange)="handlePageChange($event)"></pagination-controls>
                            </div>

                            <div class="col-md-3">
                               Result: {{count}}
                            </div>
                           
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>