<section id="card-actions">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">

        <div class="card-body collapse in">
          <div class="card-block">
            <div class="row">
              <div class="col-xl-12 col-lg-12">
               

                <div class="table-responsive">
                  <table class="table  table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>العمارة</th>
                        <th>الوحدة</th>
                        <th>السعر</th>

                        <th>تاريخ الحجز</th>
                        <th>مبلغ الحجز</th>
                        <th>العميل</th>
                        <th>التليفون</th>
                       
                        <th>مسؤول المبيعات</th>
                        
                      </tr>
                    </thead>
                    <tbody *ngIf="ReserveUnitsList">
                      <tr *ngFor="let Reserve of ReserveUnitsList;let i = index " style="cursor: pointer;">
                        <th scope="row"> {{( i + 1 ) }}</th>
                        <th >{{ Reserve.HouseName }}</th>
                        <td >{{ Reserve.HUnitName }}</td>
                        <td >{{ Reserve.HValue }}</td>
                        <td >{{ Reserve.ReserveUnitDate }}</td>
                       
                       
                        
                        <td >{{ Reserve.ReserveValue }} </td>
                        <td >{{ Reserve.CustomerName }} </td>
                      
                        <td >{{ Reserve.tele }}</td>
                        <td >{{ Reserve.AgentName }}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
              
            

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>