<!-- <!-- <p>i18n-lang works!</p>
<div class="{{Lang}}">
    <h2>{{ 'HOME.TITLE' | translate }}</h2>
    <label>
      {{ 'HOME.SELECT' | translate }}
      <select #langSelect (change)="changeLang(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select>
    </label>
</div> --


<div   [ngClass]="'currentTheme' | translate">
    {{'currentTheme' | translate}}
    <p class="base-align">
    <!-- <hello name="{{ name }}"></hello> --
      Start editing to see some magic happen :)


    </p>
    <p>اسما</p>

    theme <button (click)="useLanguage('en')">English</button>
    <button (click)="useLanguage('ar')">Arabic</button>
    </div> -->
