<!--
  <h5>أصناف الفاتورة</h5>
  <hr>

    <form #form="ngForm" autocomplete="off" dir="rtl" (submit)="onSubmit(form)" class="example-form" >
      <input type="hidden" name="ItemId" #ItemId="ngModel" [(ngModel)]="this.formData.ItemId">
      <input type="hidden" name="UnitId" #UnitId="ngModel" [(ngModel)]="this.formData.UnitId" >
      <input type="hidden" name="ItemName" #ItemName="ngModel" [(ngModel)]="this.formData.ItemName">
      <input type="hidden" name="UnitName" #UnitName="ngModel" [(ngModel)]="this.formData.UnitName" >
      <input type="hidden" name="ItemNO" #ItemNO="ngModel" [(ngModel)]="this.formData.ItemNO" >
      <input type="hidden" name="CompanyName" #CompanyName="ngModel" [(ngModel)]="this.formData.CompanyName" >
      <div class="form-row">
        <div class="form-group col-md-12">
      <div class="form-group">
        <mat-form-field class="example-full-width" style="text-align: right">
          <input [(ngModel)]="selectedItem" matInput placeholder="الصنف" aria-label="الصنف" [matAutocomplete]="auto"
            [formControl]="stateCtrl" dir="ltr" >
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="UpdateQty()" >
            <mat-option *ngFor="let state of filteredStates | async" [value]="state"  >
              <span>{{state.ItemName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bolder;" >{{state.ItemSalePrice}}LE</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
        </div>
      </div>
      <div class="form-row">
        <!-- <div class="form-group col-md-6">
          <label>الكمية المتاحة</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"></div>
            </div>
            <input name="AvailableQty" #AvailableQty="ngModel" [(ngModel)]="this.formData.AvailableQty" class="form-control" placeholder="الكمية المتاحة"
            readonly [class.is-invalid]="!isValid && this.formData.Qty > this.formData.AvailableQty" >

          </div>
        </div> --
      </div>



        <div class="form-row">

          <div class="form-group col-md-4">
            <label>الكمية</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>
              <input name="Qty" #Qty="ngModel" id="form1" [(ngModel)]="this.formData.Qty" class="form-control" placeholder="الكمية"
                required (keyup)="UpdateTotal()"  [class.is-invalid]="!isValid && (this.formData.Qty == 0 || this.formData.Qty == null)" >
            </div>

          </div>


          <div class="form-group col-md-4">
            <label>السعر</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>
              <input name="Price" #Price="ngModel" [(ngModel)]="this.formData.Price" class="form-control"
                placeholder="السعر" required data-toggle="tooltip" data-placement="top" title
                data-original-title="السعر" required (keyup)="UpdateTotal()" [class.is-invalid]="!isValid && this.formData.Price == null"  >
            </div>
          </div>


          <div class="form-group col-md-4">
            <label>الاجمالى</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>
              <input name="Tot" #Tot="ngModel" [(ngModel)]="this.formData.Tot" class="form-control" placeholder="الاجمالى"
              required data-toggle="tooltip" data-placement="top" title
                data-original-title="الاجمالى" >
            </div>
          </div>
        </div>

        <div class="form-group">
<button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>حفظ</button>
<button type="button" class="btn btn-dark ml-1"  (click)="SaveAndAdd(form)" ><i class="fa fa-database" ></i>حفظ واضافة</button>
<button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i>الغاء</button>
        </div>

    </form>
 -->
