<section id="card-actions">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">تقرير إجماليات المبيعات لفترة </h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
  
                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
  
              </ul>
            </div>
          </div>
          <div class="card-body collapse in">
            <div class="card-block">
              <div class="row">
                <div class="col-xl-12 col-lg-12 mb-2">
                  <form (submit)="Saveform()">


                    <div class="form-group">
                      <label>المخزن</label>
                      <select id="store" name="store" class="form-control" [(ngModel)]="selectedstore"
                        (ngModelChange)="setSelectedStore($event)">
                        <option value="null">All</option>

                        <option *ngFor="let store of storeslist" [ngValue]="store">{{store.StoreName}}</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="Customer">العميل</label>
                      <select id="Customer" name="Customer" class="form-control" [(ngModel)]="selectedCustomer"
                        (ngModelChange)="setSelectedCustomer($event)">
                        <option value="null">All</option>
                        <option *ngFor="let cust of customerslist" [ngValue]="cust">{{cust.CustomerName}}</option>
                      </select>
                    </div>
                    

                    <div class="form-group">
                        <label for="sellingType">نوع البيع</label>
                        <select id="sellingType" name="sellingType" class="form-control" [(ngModel)]="selectedsellingType"
                          (ngModelChange)="setSelectedsellingType($event)">
                          <!-- <option *ngFor="let sellingType of sellingTypelist" [ngValue]="sellingType">{{sellingType.SellingType}}</option> -->
                          <option value="">All</option>
                          <option value='CASH'>CASH</option>
                          <option value='CREDIT'>CREDIT</option>                       
                         </select>
                      </div>
   
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker1" placeholder="الفترة من" [value]="fromDate.value" [formControl]="fromDate">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker2" placeholder="الى" [value]="toDate.value" [formControl]="toDate">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
  
                    <div class="container-fluid text-center">
                      <button type="submit" class="btn btn-info btn-lg btn-block">عرض التقرير</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <!-- <h4 class="card-title">{{selectedstore.StoreName}}</h4> -->
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
  
                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
  
              </ul>
            </div>
          </div>
          <div class="card-body collapse in">
            <div class="card-block">
              <div class="row">
                <div class="col-xl-12 col-lg-12 mb-2">
  
                  <!-- <input type="text" [(ngModel)]="StoreName" placeholder="بحث" class="form-control" /> -->
                  <div class="table-responsive text-nowrap">
                    <table class="table table-sm table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>                       
                          <th>الكود</th>
                          <th>التاريخ</th>
                          <th>السعر</th>
                          <th>الاجمالي</th>
                          <th>الخصم</th>
                          <th>العميل</th>
                          <th>النوع</th>
                          <th>كود المخزن</th>
                          <th>اسم المخزن</th>
                          <th>أجل</th>
                          <th>نقدي</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="SellingDetails">
                        <tr *ngFor="let Selling of SellingDetails | customerEmailFilter:StoreName;let i = index">
                          <th scope="row">{{i+1}}</th>
                          <td>{{ Selling.SellingId }}</td>
                          <td>{{ Selling.SellingDate }}</td>
                          <td>{{ Selling.SellingVal }}</td>
                          <td>{{ Selling.SellingTot }}</td>
                          <td>{{ Selling.SellingDisc }}</td>
                          <td>{{ Selling.CustomerName }}</td>
                          <td>{{ Selling.SellingType }}</td>
                          <td>{{ Selling.StoreId }}</td>
                          <td>{{ Selling.StoreName }}</td>
                          <td>{{ Selling.credit }}</td>
                          <td>{{ Selling.CASH }}</td>


                        </tr>
                      </tbody>
                        <thead>
                         <tr>
                          <th></th>
                          <th>الاجمالى</th>
                          <th></th>
                          <th></th>
                          <th>{{TotalCOSTPrice}}</th>
                          <th>{{  DiscTot }}</th>
                          <th></th>
                          <th></th>
                          <th></th>                      
                        </tr>
                      </thead> 
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>