
  
  .tools-category{
    border: solid 1px red;
    background: lightgray;
    margin: 6px;
    padding: 2px;
    
  }
  
  
  .tool-item{
    background:lightgreen;
    margin: 5px;
    padding: 5px;
    font-size: small;
  }
  .tool-item-sold
  {
    background:lightcoral;
    margin: 5px;
    padding: 5px;
  }



.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

 