mat-form-field {
    width: 100%;
}


/* .table-bordered th, .table-bordered td {
  border: 1px solid #eae8e8;
}

input {
  width: 38px;
} */

.table th, .table td {
  padding:0px;
}

input{
  border: none;
  width: 55px;
  /* border:1px solid rgb(195, 193, 193);
  border-radius: 2px; */

  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0; /* cellspacing */
}

th, td {
  padding: 0px;  /* cellpadding */
}
