<!-- <p>sales-rep works!</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
  <section id="card-actions">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
  
          <div class="card-body collapse in">
            <div class="card-block">
              <div class="row">
                <div class="col-xl-12 col-lg-12">
                  -- <div class="form-group">
                                      
                    <div class="input-group">         
                    
                        <input type="search" [(ngModel)]="term" placeholder="بحث" (change)="GetData()"   class="form-control" />
                        <span class="input-group-addon"><a >
                            <i class="fa fa-search"></i>
                        </a></span>
                    </div>
                 </div> --
  


  
                  <div class="table-responsive">

                    <div class="row">
                       
                        <div class="form-group col-md-6">
                            <label>مسؤول المبيعات</label>

                            <select name="EmpID" formControlName="EmpID" required
                            class="form-control">
                            <option *ngFor="let Emp of Empslist" [ngValue]="Emp.EmpID">{{Emp.EmpName}}</option>
                            </select>
                        </div>

                        <div class=" form-group col-md-6">
                         <label>التاريخ</label>

                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="Date" formControlName="Date"  [ngModel]="Date | date:'yyyy-MM-dd'" 
                          (ngModelChange)="Date = $event" class="form-control" placeholder="التاريخ" required
                            data-toggle="tooltip" data-placement="top" title data-original-title="التاريخ" type="date">
                        </fieldset>
                      </div>
                    </div>
                                    

                      <br>
                    <div style="display: block; width: auto">
                        <canvas id="canvas" height="100">{{ chart }}</canvas>
                      </div>
  
                  </div>
                </div>
  
             
             
               
        
              
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </section>
  
  
   -->