<section id="card-actions">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-body collapse in">
            <div class="card-block">
              <div class="row">
                <div class="col-xl-12 col-lg-12 mb-2">
                  <div class="col-md-12" style="text-align: center;"><h4><span class="label label-default">الموردون</span></h4>
                  </div>
                  <form #form="ngForm" autocomplete="off" *ngIf="SuppService.formData" (submit)="onSubmit(from)" novalidate>
                    <div class="row">
                      
                      <div class="col-md-6">
                        <label>المورد</label>

                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="SupplierName" #SupplierName="ngModel" [(ngModel)]="SuppService.formData.SupplierName"  class="form-control" placeholder="اسم المورد" 
                            data-toggle="tooltip" data-placement="top" title data-original-title="اسم المورد" required 
                            [class.is-invalid]="!isValid && (SuppService.formData.SupplierName == null || SuppService.formData.SupplierName == '') " >
                            <div class="form-control-position">
                              <i class="fa fa-keyboard-o"></i>
                            </div>
                        </fieldset>
                      </div>

                      <div class="col-md-6">
                        <label>المخزن</label>

                        <fieldset class="form-group position-relative has-icon-left">
                          <select  name="StoreId" #StoreId="ngModel" [(ngModel)]="SuppService.formData.StoreId" class="form-control"
                          [class.is-invalid]="!isValid && (SuppService.formData.StoreId == null || SuppService.formData.StoreId == 0)">
                          <!-- <option value='0'>-- select --</option> -->
                            <option *ngFor="let store of storeslist" [ngValue]="store.StoreId">{{store.StoreName}}</option>
                          </select>
                          <div class="form-control-position">
                            <i class="fa fa-truck"></i>
                          </div>
  
                        </fieldset>
                      </div>
                    </div>


                    <div class="row">

                      <div class="col-md-6">
                          <div class="form-group">
                            <label>  هاتف 1</label>
                            <input name="tele" #tele="ngModel" [(ngModel)]="SuppService.formData.tele" class="form-control"
                            placeholder=" هاتف 1  "  OnlyNumber="true" pattern="\d{11}" maxlength="11"  >                         
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="form-group">
                            <label>  هاتف 2</label>
                            <input name="tele2" #tele2="ngModel" [(ngModel)]="SuppService.formData.tele2" class="form-control"
                            placeholder=" هاتف 2  "  OnlyNumber="true" pattern="\d{11}" maxlength="11" >                         
                          </div>
                      </div>

                  </div> 


                    <div class="row">
                      <div class="text-danger"
                      *ngIf="SuppService.formData.OpenBalDebit != 0 && SuppService.formData.OpenBalCredit != 0">
                     لا يمكن تسجيل العميل دائن ومدين فى نفس الوقت
                    
                      </div>
                      <div class="col-md-6">
                        <div>
                          <h6>
                            <label>
                              مدين
                            </label>
                          </h6>
                        </div>
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="OpenBalDebit" #OpenBalDebit="ngModel" [(ngModel)]="SuppService.formData.OpenBalDebit"  class="form-control" required 
                          [class.is-invalid]="!isValid && (SuppService.formData.OpenBalDebit == null ) "
                            data-toggle="tooltip" data-placement="top" title data-original-title="مدين" >
                            <div class="form-control-position">
                              <i class="fa fa-usd"></i>
                            </div>
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <div>
                          <h6>
                            <label>
                              دائن
                            </label>
                          </h6>
                        </div>
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="OpenBalCredit" #OpenBalCredit="ngModel" [(ngModel)]="SuppService.formData.OpenBalCredit"  class="form-control"  required 
                          [class.is-invalid]="!isValid && (SuppService.formData.OpenBalCredit == null ) "
                            data-toggle="tooltip" data-placement="top" title data-original-title="دائن" >
                            <div class="form-control-position">
                              <i class="fa fa-usd"></i>
                            </div>
                        </fieldset>
                      </div>
                    </div> 
                    

               

                    <!-- <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                              <label>  محمول 1</label>
                              <input name="mob1" #mob1="ngModel" [(ngModel)]="SuppService.formData.mob1" class="form-control"
                              placeholder=" محمول 1  "  OnlyNumber="true" pattern="\d{11}" maxlength="11" required>                         
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                              <label>  محمول 2</label>
                              <input name="mob2" #mob2="ngModel" [(ngModel)]="SuppService.formData.mob2" class="form-control"
                              placeholder=" محمول 2  "  OnlyNumber="true" pattern="\d{11}" maxlength="11" required>                         
                            </div>
                        </div>

                     

                    </div>  
                      
                    <hr> -->

                    <!-- <div class="row">

                      <h5 class="element" >البيانات الضريبية </h5>
                      <hr>
                      
                    </div> -->
<!--                     
                    <div class="row">

                        <div class="col-md-4">
                          <label> السجل التجاري</label>

                            <div class="form-group">
                              <input name="CommRegister" #CommRegister="ngModel" [(ngModel)]="SuppService.formData.CommRegister" class="form-control"
                              placeholder="  السجل التجاري  " required>                         
                            </div>
                        </div>

                        <div class="col-md-4">
                          <label> رقم الملف الضريبي</label>

                            <div class="form-group">
                              <input name="SuppFieldId" #SuppFieldId="ngModel" [(ngModel)]="SuppService.formData.SuppFieldId" class="form-control"
                              placeholder=" رقم الملف الضريبي   " required>                         
                            </div>
                        </div>

                        <div class="col-md-4">
                          <label> البطاقة الضريبية</label>

                            <div class="form-group">
                              <input name="AffinityCard" #AffinityCard="ngModel" [(ngModel)]="SuppService.formData.AffinityCard" class="form-control"
                              placeholder="  البطاقة الضريبية " required>                         
                            </div>
                        </div>

                    </div>   -->
                    <!-- <div class="row">

                        <div class="col-md-4">
                          <label> رقم التسجيل في ق م </label>

                            <div class="form-group">
                              <input name="RegisterNo" #RegisterNo="ngModel" [(ngModel)]="SuppService.formData.RegisterNo" class="form-control"
                              placeholder=" رقم التسجيل في ق م  " required>                         
                            </div>
                        </div>

                        <div class="col-md-4">
                          <label> البريد الالكتروني</label>

                            <div class="form-group">
                              <input name="email" #email="ngModel" [(ngModel)]="SuppService.formData.email" class="form-control"
                              placeholder="  البريد الالكتروني    " required>                         
                            </div>
                        </div>

                        <div class="col-md-4">
                          <label>  العنوان</label>

                            <div class="form-group">
                              <input name="address" #address="ngModel" [(ngModel)]="SuppService.formData.address" class="form-control"
                              placeholder="   العنوان " required>                         
                            </div>
                        </div>

                    </div>  -->
                
                    <div class="row">
                      <div class="col-xl-12 col-lg-12" style="align-items: center;">
                        <button class="btn btn-success " type="submit"><i class="icon-check2"></i>
                          حفظ</button>
                        <button type='button' class="btn btn-outline-dark ml-2 btn-md" routerLink="/SuppliersView" ><i class="fa fa-table"></i> الرجوع لقائمة الموردون</button>
                      </div>
                    </div>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  
  </section>