p {
    font-family: Lato;
  }
  
  table {
    width: 100%;
  }
  
  .header {
    padding: 5px;
  }
  
  .filter {
    display: block;
  }

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
