<section id="card-actions">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body collapse in">
                    <div class="card-block">
                      <div class="row mb-2">
                        <div class="col-md-6">
                          <h3 class="card-title"> عروض الاسعار</h3>
                        </div>

                        <div class="col-md-6">
                          <button class="btn btn-outline-danger" style="float:left; margin-left:10px" routerLink="/PriceList"><i
                            class="fa fa-plus"></i>
                             اضافة عرض </button>
                        </div>
                      </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group">

                                    <div class="input-group">
                                        <input type="search" [(ngModel)]="term" placeholder="بحث" (change)="gePriceLists()" class="form-control" />
                                        <span class="input-group-addon"><a >
                                            <i class="fa fa-search"></i>
                                        </a></span>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table  table-bordered">
                                        <thead>
                                            <tr>
                                              <th>#</th>
                                              <th>تاريخ العرض</th>
                                              <th>مقدم إلى </th>
                                              <th>إجمالي العرض</th>
                                              <th>المستخدم </th>
                                              <th> تاريخ التسجيل </th>
                                              <th>له عقد ؟</th>
                                              <!-- <th> له عقد</th> -->
                                               <th></th>
                                            </tr>
                                        </thead>

                                        <tbody *ngIf="itemsList">
                                          <tr *ngFor="let itm of itemsList | paginate : {
                                              itemsPerPage: pageSize,
                                              currentPage: page,
                                              totalItems: count
                                            };
                                      let i = index " style="cursor: pointer;">

                                           <th scope="row"> {{ i + 1}}</th>
                                           <td (click)="openForEdit(itm.priceList_ID)">{{ itm.priceList_Date  | date:
                                            'dd/MM/yyyy' }}</td>
                                           <td (click)="openForEdit(itm.priceList_ID)">{{ itm.priceList_Customer }}</td>
                                           <td (click)="openForEdit(itm.priceList_ID)">{{ itm.priceList_Total }}</td>
                                           <td (click)="openForEdit(itm.priceList_ID)">{{ itm.entryUser }}</td>
                                           <td (click)="openForEdit(itm.priceList_ID)">{{ itm.entrydate |
                                            date:
                                            'yyyy/MM/dd'}}</td>
                                            <td (click)="openForEdit(itm.priceList_ID)">


                                              <i *ngIf="itm.has_Contract == true" style="color:green;" class="fa fa-check fa-lg" aria-hidden="true"></i>
                                              <i *ngIf="itm.has_Contract == false" style="color:red;" class="fa fa-close fa-lg" aria-hidden="true"></i>

                                            </td>


                                            <!-- <td scope="row"><input   type="checkbox"
                                                id="SellingSelectedCheckBox" #SellingSelectedCheckBox
                                            ></td> -->

                                            <td>
                                              <!-- <a class="btn text-info"
                                              ><i
                                                  class="fa fa-pencil "></i>
                                              </a> -->

                                              <a class="btn text-info"
                                              (click)="printPdf(itm.priceList_ID)"><i
                                                  class="fa fa-print fa-lg"></i>
                                              </a>
                                              
                                              <a class="btn text-danger" *ngIf="UserType=='admin'"
                                              (click)="onOrderDelete(i,itm.priceList_ID)"><i
                                                class="fa fa-trash fa-lg"></i>
                                             </a>

                                              <button class="btn btn-outline-secondary" *ngIf="itm.has_Contract == false" (click)="openContract(itm.priceList_ID)"  >تحويل إلى عقد </button>





                                            </td>


                                          </tr>
                                        </tbody>



                                        <!-- <tbody >
                                            <tr *ngFor="let itm of itemsList | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index " style="cursor: pointer;">
                                                <th scope="row"> {{ i + 1}}</th>
                                                <td (click)="openForEdit(itm.PriceListID)">12-1-2022</td>
                                                <td (click)="openForEdit(itm.PriceListID)">MiniCode</td>
                                                <td (click)="openForEdit(itm.PriceListID)">10000</td>
                                                <td scope="row"><input   type="checkbox"
                                                  id="SellingSelectedCheckBox" #SellingSelectedCheckBox
                                                  [(ngModel)]="itm.isSelected"
                                                  (change)="onSellingSelectedChanged(SellingSelectedCheckBox.checked,i)" ></td>

                                                <td>


                                                    <a class="btn text-info"
                                                    (click)="openForEdit(SaleInv.SellingId)"><i
                                                        class="fa fa-pencil fa-lg">تعديل</i>
                                                    </a>

                                                     <!-- <td>

                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" #IsActivated name="IsActivated"
                            [(ngModel)]="Userserv.formData.IsActivated"  (change)="change()">
                            <label class="custom-control-label" for="customCheck1"></label>
                            {{Userserv.formData.IsActivated}}
                        </div>
                      </div>



                    </td> --

                                                    <a class="btn text-info"
                                                    (click)="openForEdit(SaleInv.SellingId)"><i
                                                        class="fa fa-pencil fa-lg">تحويل إلى عقد</i>
                                                    </a>

                                                </td>
                                            </tr>
                                        </tbody> -->


                                        <!-- <tbody >
                                            <tr *ngFor="let itm of itemsList | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index " style="cursor: pointer;">
                                                <th scope="row"> {{ i + 1}}</th>
                                                <td (click)="openForEdit(itm.PriceListID)">12-1-2022</td>
                                                <td (click)="openForEdit(itm.PriceListID)">MiniCode</td>
                                                <td (click)="openForEdit(itm.PriceListID)">10000</td>
                                                <td scope="row"><input   type="checkbox"
                                                  id="SellingSelectedCheckBox" #SellingSelectedCheckBox
                                                  [(ngModel)]="itm.isSelected"
                                                  (change)="onSellingSelectedChanged(SellingSelectedCheckBox.checked,i)" ></td>

                                                <td>


                                                    <a class="btn text-info"
                                                    (click)="openForEdit(SaleInv.SellingId)"><i
                                                        class="fa fa-pencil fa-lg">تعديل</i>
                                                    </a>

                                                     <!-- <td>

                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" #IsActivated name="IsActivated"
                            [(ngModel)]="Userserv.formData.IsActivated"  (change)="change()">
                            <label class="custom-control-label" for="customCheck1"></label>
                            {{Userserv.formData.IsActivated}}
                        </div>
                      </div>



                    </td> --

                                                    <a class="btn text-info"
                                                    (click)="openForEdit(SaleInv.SellingId)"><i
                                                        class="fa fa-pencil fa-lg">تحويل إلى عقد</i>
                                                    </a>

                                                </td>
                                            </tr>
                                        </tbody> -->
                                    </table>

                                </div>
                            </div>

                            <div class="col-md-3">
                                ...

                                عدد السجلات فى الصفحة:
                                <select (change)="handlePageSizeChange($event)">
                                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                                        {{ size }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                    (pageChange)="handlePageChange($event)"></pagination-controls>
                            </div>
                            <div class="col-md-2">
                              Result : {{count}}
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
