<section id="card-actions">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
  
          <div class="card-body collapse in">
            <div class="card-block">
              <div class="row">
                <div class="col-xl-12 col-lg-12">

                    <input type="hidden" name="EmpName" #EmpName="ngModel" [(ngModel)]="cRMClientsService.formData.EmpName">


                    <div class="form-group">
                      <label >مسؤول المبيعات</label>
                        <select name="EmpID" #EmpID="ngModel" [(ngModel)]="cRMClientsService.formData.EmpID" required
                          class="form-control" (ngModelChange)="setSelectedEmp($event)">
                          <option *ngFor="let Emp of Empslist" [ngValue]="Emp.EmpID">{{Emp.EmpName}}</option>
                        </select>
                    </div>

                  <!-- <div class="form-group">
                                      
                    <div class="input-group">         
                    
                        <input type="search" [(ngModel)]="term" placeholder="بحث" (change)="GetData()"   class="form-control" />
                        <span class="input-group-addon"><a >
                            <i class="fa fa-search"></i>
                        </a></span>
                    </div>
                 </div> -->


  
  
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                            <th  *ngIf="cRMClientsService.formData.EmpID" ><input  type="checkbox" id="SelectAll" #SelectAll [checked]="isChecked$ | async" 
                                (change)="toggleChecked(SelectAll.checked)" ></th>
                          <th>#</th>
                          <th>العميل</th>              
                          <th>الموبايل</th>
                          <th>المشروع</th>
                          <th>المرحلة الحالية</th>
                          
                          <th>اخر ملاحظة</th>
                          <th>تاريخ الانشاء</th>
                          <th>اخر متابعة</th>
                          <th>المتابعة المطلوبة</th>
                          <th>مسؤول المبيعات</th>
                          <th>
                            
                            <button class="btn btn-outline-success" (click)="putChange()" *ngIf="cRMClientsService.formData.EmpID">
                              حفظ {{countt}} </button>

                          </th>
                        </tr>
                      </thead>
                      <tbody *ngIf="CRMClientsList">
                        <tr *ngFor="let Client of CRMClientsList | paginate : {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: count
                        };
                  let i = index " style="cursor: pointer;">
                           <th scope="row"><input   type="checkbox" 
                                id="SellingSelectedCheckBox" #SellingSelectedCheckBox
                                (change)="onSellingSelectedChanged(SellingSelectedCheckBox.checked,i)"  [(ngModel)]="Client.isSelected"  *ngIf="cRMClientsService.formData.EmpID"></th>
                                
                          <th scope="row"> {{( i + 1 ) }}</th>
                          <th (click)="openForEdit(Client.ClientID)">{{ Client.ClientName }}</th>
                          <td (click)="openForEdit(Client.ClientID)">{{ Client.ClientMobile }}</td>
                          <td (click)="openForEdit(Client.ClientID)">{{ Client.ProjectName }}</td>
                          <td (click)="openForEdit(Client.ClientID)">{{ Client.StageNameAr }}</td>
                         
                          <td (click)="openForEdit(Client.ClientID)">{{ Client.LastComment }}</td>
                          
                          <td (click)="openForEdit(Client.ClientID)">{{Client.CreationDate | date: 'dd/MM/yyyy'}} </td>
                          <td (click)="openForEdit(Client.ClientID)">{{Client.LastActionDate | date: 'dd/MM/yyyy'}} </td>
                          <td (click)="openForEdit(Client.ClientID)">{{ Client.NextActionDate | date: 'dd/MM/yyyy'}}</td>
                          <td (click)="openForEdit(Client.ClientID)">{{ Client.EmpName }}</td>
                          
                        </tr>
                      </tbody>
                    </table>
  
                  </div>
                </div>
  
             
                <div class="col-md-3">
     
                  عدد السجلات فى الصفحة:
                  <select (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                 
                </div>
               
              <div class="col-md-7">
  
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                    (pageChange)="handlePageChange($event)"></pagination-controls>
             </div>
  
  
             <div class="col-md-1" >
              <input #input pattern="[1-9]{3}"  style="width: 60px; margin-top: 8px;" (keyup)="goToPage(input.value)" (blur)= goToPage(input.value) [(ngModel)]="page" >
  
             </div>
              
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </section>
  
  
  