



<!--{{endDate}}

{{endDate - today}}-->

<section id="card-actions">

    <div class="row">
        <div class="col-xs-12">
            <div class="card">

                <div class="card-body collapse in">
                    <div class="card-block">
                        <h3 class="card-title">تسعير الأصناف (باليورو) </h3>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group">

                                    <div class="input-group">
                                        <input type="search" [(ngModel)]="term" placeholder="بحث" (change)="getItems()" class="form-control" />
                                        <span class="input-group-addon"><a >
                                            <i class="fa fa-search"></i>
                                        </a></span>
                                    </div>
                                </div>



                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <!-- <th>مسلسل</th>
                                                <th>كود الصنف</th>-->
                                                 <th> الصنف</th>
                                                <!--<th>الوحدة</th>
                                                <th>سعر البيع</th>
                                                <th>السعر بعد التعديل </th>
                                                <th>تاريخ أخر تعديل </th>-->
                                                <th></th>

                                                <!-- <th><button class="btn btn-outline-success" (click)="putChange()">
                                                         تعديل السعر</button></th> -->
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="ItemsList">
                                            <tr *ngFor="let itm of ItemsList | paginate : {
                                                itemsPerPage: pageSize,
                                                currentPage: page,
                                                totalItems: count
                                              };
                                               let i = index " style="cursor: pointer;"  >

                                               <!-- [ngStyle]="{'background-color': ((itm.UpdatePriceDate - today) < 0  ) ? 'inherit' : 'rgb(203 229 189)' }" -

-->
                                                <th scope="row"> {{( i + 1 ) }}</th>
                                                <!-- <td >{{ itm.ItemID }}</td>

                                                <td >{{ itm.ItemNO }}</td>-->
                                                <th (click)="putChange(itm.item_ID)" >{{ itm.item_Name }}</th>

                                               <!-- <td >{{ itm.UnitName }}</td>

                                                <td >{{ itm.ItemSalePrice }}</td> -->

                                                <td><button class="btn btn-outline-danger"  (click)="putChange(itm.item_ID)">تعديل السعر</button>



                                                </td>
                                               <!-- <td ><input style="width: max-content;"  matInput  type="text" name="itemupdateprice" id="itemupdateprice" [(ngModel)]="itm.itemupdateprice "  class="form-control"></td>
                                                  <td><input type="number" name="ItemSalePrice"  placeholder="السعر بعد التعديل" #ItemSalePrice='ngModel'  [(ngModel)]="ItemServ.formData.ItemSalePrice ">{{ itm.ItemSalePrice }}</td>  -->
                                                <!-- <td >{{ itm.UpdatePriceDate}}</td>
                                                <td>{{ itm.UpdatePriceDate | date: 'dd/MM/yyyy' }} </td>-->


                                                <!-- [ngClass]="{
                                                    'negative' : today - itm.UpdatePriceDate  >= endDate - today,
                                                    'positive' : today - itm.UpdatePriceDate < endDate - today
                                                 }" -->

                                                  <!-- [style.background-color]="this.flag == true ? 'green' :'inherit' "  -->
                                                <!-- <td><a class="btn text-danger" *ngIf="UserType=='ADMIN'"
                                                        (click)="onOrderDelete(i,itm.ItemID)"><i
                                                            class="fa fa-trash fa-lg"></i> </a>
                                                    <a class="btn text-success"
                                                    (click)="ApplyChangePrice(itm.ItemID , itm.ItemSalePrice , ItemServ.formData.itemupdateRatioprice )"><i
                                                        class="fa fa-plus fa-lg"></i> </a>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <!-- <div class="col-md-3">
                                ...

                                عدد السجلات فى الصفحة:
                                <select (change)="handlePageSizeChange($event)">
                                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                                        {{ size }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                    (pageChange)="handlePageChange($event)"></pagination-controls>
                            </div> -->
                            <div class="col-md-2">
                                Result:
                             </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
