
<div style="background-image: url('../../../assets/app-assets/images/paper.jpeg');
background-repeat: no-repeat;
background-repeat: repeat-y;
background-size: contain;">


<div style="padding-top: 200px;
padding-right: 100px;
padding-left: 44px;">
<p align="center" dir="RTL" style="margin: 40px 0 ; font-weight: 800; font-size: 17px;" >
  <strong><u>عقد توريد وتصنيع رقــم ( ..... )</u></strong>
</p>
<p dir="RTL">
  <strong>
    الحمد لله رب العالمين والصلاة والسلام على رسوله وآلة وصحبه أجمعين، فبعون الله تم إبرام هذه الاتفاقية والتوقيع عليها بمدينة  جدة بتاريخ  4/07/1444 هـ، الموافق 26/01/2023مـ بين كلاً من :
  </strong>
</p>
<p dir="RTL">
  <strong>  </strong>
</p>
<p dir="RTL">
  <strong>1-</strong>
  <strong>مؤسسة ارت التظليل للمظلات ، القائم بموجب سجل تجاري رقم 4031270308،  </strong>
</p>

<p dir="RTL">
  <strong>2-</strong>
  <strong>
    	ويمثلها السيد/ مشهور   عبدلله سمران  الحربي، هوية وطنية رقم1013362460 بصفتة رئيس مجلس الإدارة / ، جوال رقم0563331125
  </strong>

</p>

<p dir="RTL" align="center">
  <strong>  " يشار إليها فيما بعد الطرف الأول/ المورد و/أو البائع"</strong>
</p>


<p dir="RTL">
  <strong>3-</strong>
  <strong>
    	السيد / خالد عبدالعزيز صبر الشيمري /مؤسسة مستقبل المدن للمقاولات العامة، سعودي الجنسية، والمولود بتاريخ .1387هـ، ويحمل بطاقة وطنية رقم 1035578812، ويعلن فيما بعد على العنوان الوطني ..........................................، جوال رقم .................
  </strong>

</p>


<p dir="RTL" align="center">
  <strong>  " يشار إليها فيما بعد الطرف الثاني/ المستورد و/أو المشتري" </strong>
</p>


<p  align="center">
  <strong><u> تــمــهـــيــد</u></strong>
</p>
<p dir="RTL">
  <strong>  لما كان الطرف الأول مؤسسة مختصة في نشاطها على تركيب المظلات والسواتر، وما يتفرع عنها من أنشطة، وحيث أبدى الطرف الثاني للطرف الأول رغبته في التعاقد مع الطرف الأول ولما صادفت رغبة الطرف الثاني قبولاً لدى الطرف الأول لذا فقد اتفق الطرفان، وهما بكامل الأهلية المعتبرة شرعاً ونظاماً، على إبرام هذا العقد؛ ليحكم العلاقة الناشئة بينهما، وفقاً للبنود، والشروط التالية:- </strong>
</p>


<p align="center"  style="margin: 20px 0 ;">
  <strong><u> المادة الأولى/التــمــهـــيــد</u></strong>
</p>

<p dir="RTL">
  <strong>* </strong>
  <strong>
    يعتبر التمهيد السابق جزء لا يتجزأ من الاتفاقية ويأخذ نفس أحكامها.
  </strong>
</p>


<p align="center" style="margin: 20px 0 ;">
  <strong><u> المادة الثانية/الإيجاب والقبول </u></strong>
</p>

<p dir="RTL">
  <strong>* </strong>
  <strong>
    أتفق الطرفان فيما بينهم على أن يورد الطرف الأول للطرف الثاني ما هو عبارة عن مظلة إلكترونية مكونة من:-
  </strong>
</p>


<p dir="RTL">
  <strong>1- </strong>
  <strong>
      الالمنيوم الخاص سماكة (3 ملي)متعدد المقاسات مدعم من الداخل لتتحمل اوزان
      وأحمال مختلفة حسب المساحات علما بأن الهيكل قابل للفك والنقل والتركيب في
      اكثر من موقع
  </strong>
</p>
<p dir="RTL">
  <strong>2- </strong>
  <strong>المواتير المستحدمة من شركة </strong>
  <strong> ( somfy )</strong>
  <strong>بريموت كنترول (شركة فرنسية ).</strong>

</p>
<p dir="RTL">
  <strong>3- </strong>
  <strong>القماش </strong>
  <strong>(PVC)</strong>
  <strong> من شركة (</strong>
  <strong>SIOEN</strong>
  <strong>) بلجيكي</strong>
</p>
<p dir="RTL">
  <strong>4- </strong>
  <strong>الاضاءات الخاصه بالمظلة نظام (</strong>
  <strong>LED</strong>
  <strong>) باكثر من لون جميعها من شركة سامسنج (</strong>
  <strong>SAMSUNG</strong>
  <strong>)</strong>

</p>
<p dir="RTL">
  <strong>5- </strong>
  <strong>كافة اكسسوارات المظلة (أوروبية الصنع) </strong>
</p>





<p align="center" style="margin: 20px 0 ;" >
  <strong><u> المادة الثالثة/المصروفات والتكاليف  </u></strong>
</p>



<p dir="RTL">
  <strong>* </strong>
  <strong>

    أتفق الطرفان على أن تكون قيمة الأعمال المتفق عليها والمحددة في المادة الرابعة بموجب هذا العقد، بمبلغ وقدره (118,930- مائة وثمانية عشرألف وتسعة مائة وثلاثون  الف ريال سعودي)  وتدفع قيمة الأعمال المذكورة طبقاً للجدول التالي:-
  </strong>
</p>

<div align="center" style="margin: 20px 0 ;">
  <table dir="rtl" border="1" cellspacing="0" cellpadding="0" width="658">
      <tbody>
          <tr>
              <td width="168" valign="top">
                  <p align="center" dir="RTL">
                      <strong >النوع</strong>
                  </p>
              </td>
              <td width="76" valign="top">
                  <p align="center" dir="RTL" >
                      <strong>المساحة</strong>
                  </p>
              </td>
              <td width="85" valign="top">
                  <p align="center" dir="RTL">
                      <strong>سعر المتر المبع</strong>
                  </p>
              </td>
              <td width="110" valign="top">
                  <p align="center" dir="RTL" >
                      <strong>السعر الاجمالي</strong>
                  </p>
              </td>
              <td width="134" valign="top">
                  <p align="center" dir="RTL">
                      <strong>15% القيمة المضافه </strong>
                      <strong>3113899581</strong>
                  </p>
              </td>
              <td width="85" valign="top">
                  <p align="center" dir="RTL">
                      <strong>الاجمالي</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="168" valign="top">
                  <p dir="RTL" align="center" >
                      <strong>RTS 1600 STANDART  </strong>
                      <strong>
                        (RAIL SYSTEM)
                        687X817  S1
                        687X817  S2
                        687X817  S3

                      </strong>
                  </p>
              </td>
              <td width="76" valign="top">
                  <p dir="RTL" align="center" >
                      <strong>168 M2</strong>
                  </p>
              </td>
              <td width="85" valign="top">
                  <p dir="RTL" align="center" >
                      <strong>640</strong>
                  </p>
              </td>
              <td width="110" valign="top">
                  <p dir="RTL" align="center" >
                      <strong>107,765</strong>
                  </p>
              </td>
              <td width="134" valign="top">
                  <p dir="RTL" align="center" >
                      <strong>16,164</strong>
                  </p>
              </td>
              <td width="85" valign="top">
                  <p dir="RTL" align="center" >
                      <strong>123,930</strong>
                  </p>
              </td>
          </tr>

          <tr>
            <td width="168" valign="top">
                <p dir="RTL" align="center" >
                    <strong>Profile 100X100  </strong>
                    <strong>


                    </strong>
                </p>
            </td>
            <td width="76" valign="top">
                <p dir="RTL">
                    <strong></strong>
                </p>
            </td>
            <td width="85" valign="top">
                <p dir="RTL" align="center" >
                    <strong>2000</strong>
                </p>
            </td>
            <td width="110" valign="top">
                <p dir="RTL">
                    <strong></strong>
                </p>
            </td>
            <td width="134" valign="top">
                <p dir="RTL">
                    <strong></strong>
                </p>
            </td>
            <td width="85" valign="top">
                <p dir="RTL" align="center" >
                    <strong>2000</strong>
                </p>
            </td>
           </tr>




        <tr>
          <td width="168" valign="top">
              <p dir="RTL" align="center" >
                  <strong>الاجمالي  </strong>
                  <strong>


                  </strong>
              </p>
          </td>
          <td width="76" valign="top">
              <p dir="RTL">
                  <strong></strong>
              </p>
          </td>
          <td width="85" valign="top">
              <p dir="RTL">
                  <strong></strong>
              </p>
          </td>
          <td width="110" valign="top">
              <p dir="RTL">
                  <strong></strong>
              </p>
          </td>
          <td width="134" valign="top">
              <p dir="RTL">
                  <strong></strong>
              </p>
          </td>
          <td width="85" valign="top">
              <p dir="RTL" align="center" >
                  <strong>125,930</strong>
              </p>
          </td>
        </tr>


        <tr>
          <td width="168" valign="top">
              <p dir="RTL" align="center" >
                  <strong>خصم  </strong>
                  <strong>


                  </strong>
              </p>
          </td>
          <td width="76" valign="top">
              <p dir="RTL">
                  <strong></strong>
              </p>
          </td>
          <td width="85" valign="top">
              <p dir="RTL">
                  <strong></strong>
              </p>
          </td>
          <td width="110" valign="top">
              <p dir="RTL" align="center" >
                  <strong> 7000</strong>
              </p>
          </td>
          <td width="134" valign="top">
              <p dir="RTL">
                  <strong></strong>
              </p>
          </td>
          <td width="85" valign="top">
              <p dir="RTL" align="center" >
                  <strong>-7000</strong>
              </p>
          </td>
        </tr>




          <tr>
              <td width="168" valign="top">
                  <p dir="RTL" align="center" >
                      <strong>إجمالي السعر</strong>
                  </p>
              </td>
              <td width="76" valign="top">
                  <p dir="RTL">
                      <strong></strong>
                  </p>
              </td>
              <td width="85" valign="top">
              </td>
              <td width="110" valign="top">
                  <p dir="RTL">
                      <strong></strong>
                  </p>
              </td>
              <td width="134" valign="top">
                  <p dir="RTL">
                      <strong></strong>
                  </p>
              </td>
              <td width="85" valign="top"  style="color: red;">
                  <p dir="RTL" align="center" >
                      <strong>118,930</strong>
                  </p>
              </td>
          </tr>
      </tbody>
  </table>
</div>


<p dir="RTL" style="margin: 20px 0 ;">
  <strong>* </strong>
  <strong>
    كما أتفق الطرفان على أن تكون المدفوعات مقسمة على دفعات وتحول على الحساب البنكى الخاص بالطرف الأول وبيانها مع الدفعات كالتالي:-  </strong>
</p>



<div align="center" style="margin: 20px 0 ;">
  <table dir="rtl" border="1" cellspacing="0" cellpadding="0">
      <tbody>
          <tr>
              <td width="160" valign="top">
                  <p dir="RTL" align="center">
                      <strong>50</strong>
                      <strong>% دفعة تعاقد</strong>
                  </p>
              </td>
              <td width="160" valign="top">
                  <p dir="RTL" align="center">
                      <strong>40</strong>
                      <strong>% دفعة ثانيه مع الشحن</strong>
                  </p>
              </td>
              <td width="217" valign="top">
                  <p dir="RTL" align="center">
                      <strong>10 %دفعة اخيرة مع التسيلم قبل البرمجة</strong>
                  </p>
              </td>
              <td width="102" valign="top">
                  <p dir="RTL" align="center">
                      <strong>اجمالي المبلغ</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="160" valign="top">
                  <p dir="RTL" align="center">
                      <strong>59,465</strong>
                  </p>
              </td>
              <td width="160" valign="top">
                  <p dir="RTL" align="center">
                      <strong>47,572</strong>
                  </p>
              </td>
              <td width="217" valign="top">
                  <p dir="RTL" align="center">
                      <strong>11,893</strong>
                  </p>
              </td>
              <td width="102" valign="top">
                  <p dir="RTL" align="center">
                      <strong>118,930</strong>
                  </p>
              </td>
          </tr>
      </tbody>
  </table>
</div>


<div align="center" style="margin: 20px 0 ;">
  <table
      dir="rtl"
      border="1"
      cellspacing="0"
      cellpadding="0"
      width="646"
  >
      <tbody>
          <tr>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>البنك الاهلي</strong>
                  </p>
              </td>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>IBAN</strong>
                  </p>
              </td>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>رقم الحساب</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>مؤسسة ارت التظلٌل للمظلات</strong>
                  </p>
              </td>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>SA1010000001400013939104</strong>
                  </p>
              </td>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>01400013939104</strong>
                  </p>
              </td>
          </tr>
      </tbody>
  </table>
</div>


<p align="center" style="margin: 20px 0 ;">
  <strong><u> شروط التوريد والتركيب: </u></strong>
</p>


<p align="center" style="margin: 20px 0 ;">
  <strong><u> (40) يوم من تاريخ اعتماد المخططات وتحويل كامل الدفعه الاولى.  </u></strong>
</p>



<p align="center" style="margin: 20px 0 ;">
  <strong><u> المادة الرابعة/ إلتزمات الأطراف </u></strong>
</p>






<p dir="RTL" >
  <strong>
    -	يلتزم الطرف الأول بتقديم كافة المخططات المطلوبة بعد رفع القياسات للطرف الثاني، والمذكورة بملحق هذا العقد.
  </strong>
</p>
<p dir="RTL">
  <strong>
    -	يلتزم الطرف الثاني بمراجعة كافة المخططات المقدمة من قبل الطرف الأول وإعتمادها.
  </strong>
</p>
<p dir="RTL" >
  <strong>
    -	لا يحق للطرف الثاني التعديل على أيه مخططات بعد إعتمادها، ولا يحق للطرف العدول عن أيه تعديلات أو بنود مذكورة بالعقد أو بملحق العقد.
  </strong>

</p>
<p dir="RTL" >
  <strong> - يقر ويتعهد الطرف الثاني بأنه قد أطلع على كافة الشروط والأحكام الخاصة بالطرف الأول، وقد أفهمها ووافق عليها وتعهد بعدم الطعن أو التشكيك فيها </strong>
</p>
<p dir="RTL">
  <strong>
    -	يلتزم الطرف الثاني بتامين صرف المياه والتوصيلات الكهربائيه وتجهيز الموقع حسب متطلبات التركيب وتقفيل الفراغات بين جسم المظله والجدار.
  </strong>
</p>
<p dir="RTL" >
  <strong>
    -	يلتزم الطرف الثاني بسداد باقي القيمة المتفق عليها بالمادة الثالثة من هذا العقد عند وصول المنتج المتفق عليه للموقع وفي حال لم يتم السداد يتم استرجاع المنتج للمصنع واحتساب تكلفة التحميل والتنزيل على الطرف الثاني.
  </strong>
</p>
<p dir="RTL" >
  <strong>
    -	يلتزم العميل بدفع او تركيب اي متطلبات خاصه بالتثبيت الخلفي للمظلة في حال تطلب الموقع زيادة الارتفاع الخلفي للمظله عن منسوب السقف الخرسانه
  </strong>
</p>
<p dir="RTL" >
  <strong>
    -	لا يحق للطرف الثاني في حالة عدم استلامة للبضاعه بعد انتهاء التصنيع لاكثر من (6  اشهر) تتلف البضاعه المطالبه باى تعويضات واسترداد الدفعه .
  </strong>

</p>
<p dir="RTL" >
  <strong>
    -	يحق للطرف الأول في حالة عدم سداد العميل للدفعه المستحقه سحب المحركات والغاء البرمجه لحين سداد الدفعات.
  </strong>
</p>
<p dir="RTL">
  <strong>  لايتم احتساب العطل الرسميه والاجازات من ضمن مدة العقد.  </strong>
</p>
<p dir="RTL">
  <strong>
      في حالة تغيير نسبة القيمة المضافة يتم احتسابها على العميل حسب فترة
      السداد .
  </strong>
</p>
<p dir="RTL" >
  <strong>
      في حاله وجود جدران في الموقع لتثبيت مقدمة الظل لايتم ارفاق اعمدة ع
      المظله .
  </strong>
</p>


<p align="center" style="margin: 20px 0 ;" >
  <strong><u> المادة الخامسة/ الضمان </u></strong>
</p>




<p dir="RTL">
  <strong>
    -	يلتزم الطرف الأول بتقديم ضمان علي الهيكل والقطاعات، ويتم تزويد العميل بشهادة ضمان لمدة(5  سنوات) من الشركة المصنعه للمحرك(SOMFY)، كذلك من الشركة (SIOEN) المصنعه للقماش(5  سنوات) وضمان التركيب  لمدة (5  سنوات) من الطرف الأول، ماعادا سوء الاستخدام والصدمات، على أن تبدأ مدة سريان الضمان بعد الإنتهاء من التركيب، وطبقاً لأحكام الضمان بالسياسة والشروط الخاصة بالشركة.
  </strong>
</p>
<p dir="RTL">
  <strong>
    -	يقر الطرف الثاني بأنه قد أطلع على شروط الضمان المذكورة بالشروط والأحكام الخاصة بالطرف الأول وأنه على علم تام بها ولا يحق للطرف الثاني التشكيك فيها بأي صورة كانت.
  </strong>
</p>
<p dir="RTL">
  <strong>
    -	لا يستحق الطرف الثاني مراجعة أو مطالبة الطرف الأول بالضمان إلا في الحالات المنوة عنها في السياسة والأحكام الخاصة بالطرف الأول.
  </strong>
</p>



<p align="center" style="margin: 20px 0 ;">
  <strong><u> المادة السادسة/ أحكام عامة</u></strong>
</p>

<p dir="RTL">
  <strong>
    1-	تمثل بنود هذا العقد جميع ما تم الاتفاق عليه بين الطرفين، وتلغي، وتنسخ، وتحل محل أي محادثات، أو مفاوضات، أو مفاهمات، أو اتفاقيات سابقة.  </strong>
</p>
<p dir="RTL">
  <strong>
    2-	يحظر على كل طرف يتصل علمه بأية معلومات تخص الطرف الآخر بسبب هذا العقد، أن يقوم بإفشائها للغير بشكل مباشر، أو غير مباشر، ويستثنى من ذلك المعلومات التي يتطلب الإفصاح عنها للجهات القضائية و/ أو الحكومية المختصة.    </strong>
</p>
<p dir="RTL">
  <strong>
    3-	اتفق الطرفان على أن كل المكاتبات، والإشعارات المتبادلة بينهما، تكون على العناوين الموضحة بصدر هذا العقد، وأن كل ما يرسل عليها يكون ملزماً، ومنتجاً لآثاره الشرعية، والنظامية، والتعاقدية، ويلتزم الطرف الذي يغير عنوانه، بإخطار الطرف الآخر بالعنوان الجديد، بموجب إشعار كتابي.  </strong>
</p>
<p dir="RTL">
  <strong>
    4-	التاريخ المعتمد للتعامل في هذا العقد هو التاريخ ( الهجري/الميلادي)، مع ضرورة الإشارة إلى التاريخ (الميلادي/ الهجري)، في أي مكاتبات، أو تقارير، وخلافها.  </strong>
</p>
<p dir="RTL">
  <strong>
    5-	إذا تأخر الطرف الثاني في تنفيذ أياً من البنود المتفق عليها في المادة الثالثة عن الموعد المحدد، يفرض على الطرف الثاني غرامة تأخيرية 10% من قيمة مبلغ المبيع المقدرة.  </strong>
</p>
<p dir="RTL">
  <strong>
    6-	يقر ويتعهد الطرف الثاني بتحمله كامل المسؤولية الجزائية والنظامية بمختلف أنواعها عن جميع ما قدم من مستندات سابقة والمستندات المقدمة للطرف الأول وذلك دون أدنى مسؤولية تجاه الطرف الأول.   </strong>
</p>



<p align="center"  style="margin: 20px 0 ;">
  <strong><u> المادة السابعة/ إنقضاء العقد</u></strong>
</p>

<p dir="RTL">
  <strong>
    1-	في حال رغب الطرف الثاني في فسخ العقد أو التعديل في المخططات بعد بدء التصنيع من الشركة المصنعة فإن العقد ينتهي بالنسبة للطرف الأول ويستحق الطرف الأول كامل مبلغ قيمة المبيع المذكورة بالمادة الثالثة.
  </strong>
</p>
<p dir="RTL">
  <strong>
    2-	في حال وفاة الطرف الثاني يسري هذا العقد على ورثته من بعده، وإذا رغب الورثة بإنهاء العقد فإن الطرف الأول يستحق كامل قيمة المبيع المذكورة بالمادة الثالثة.
  </strong>
</p>

<p align="center" >
  <strong><u> المادة الثامنة/ القوة القاهرة</u></strong>
</p>

<p dir="RTL">
  <strong>
    1-	في حال حدوث قوة قاهرة أو حوادث أو كوارث طبيعية تمنع الطرف الأول من تنفيذ العقد او تم فرض أي نوع من أنواع المسؤولية من قبل الجهات الرسمية او التنظيمية في المملكة العربية السعودية، فإنه يتم إعتماد قيمة المبيع المتفق عليها في المادة الثالثة كمقابل مستحق للطرف الأول.  </strong>
</p>
<p dir="RTL">
  <strong>
    2-	لا يجوز التشكيك في مشروعية أو صحة أو إمكانية إنفاذ هذا العقد بموجب قانون أي ولايه قضائية او حكم أخر، ويعتبر العقد نافذ نفاذاً تاماً.  </strong>
</p>
<p dir="RTL">
  <strong>
    3-	لا يكون الطرف الثاني معفياً من إلتزاماته المالية والقانونية المقررة بمجلس هذا العقد المستحقة حتى في حالات القوة القاهرة.  </strong>
</p>




<p align="center" style="margin: 20px 0 ;" >
  <strong><u> المادة التاسعة</u></strong>
</p>

<p dir="RTL">
  <strong>
    يتضمن هذا العقد كامل ما أتفق عليه الطرفان من شروط وأحكام، ولا يجوز التعديل أو التغيير فيه إلا بموافقة الطرفين الكتابية المسبقة، ويعتبر هذا العقد نهائيـاً وملزمـاً لطرفيه ولا يجـوز العدول عنه أو الطعن فيه لأي سبب مـن الأسباب.
  </strong>
</p>



<p align="center" style="margin: 20px 0 ;">
  <strong><u> المادة العاشرة </u></strong>
</p>

<p dir="RTL">
  <strong>
    هذا الاتفاق بات ونهائي وهو عقد أجره ملزم حتى انتهاء الدعوى ويخضع هذا العقد في تفسيره لأحكام الشريعة الإسلامية والأنظمة واللوائح السارية في المملكة العربية السعودية وللأعراف المهنية لمهنة المحاماة، وفي حالة نشوء أي نزاع أو خلاف بين الطرفين، بسبب تفسير، أو تطبيق نصوص هذا العقد؛ يكون قول الفصل فيه للجهة القضائية المختصة بمدينة الرياض بالمملكة العربية السعودية.


  </strong>
</p>


<p align="center" style="margin: 20px 0 ;">
  <strong><u> المادة الحادية عشر</u></strong>
</p>

<p dir="RTL">
  <strong>
    حرر هذا العقد من نسختين أصليتين، واستلم كل طرف نسخة أصلية للعمل بموجبها، ويقر الطرفان بأنهما قد اطلعا على هذا العقد وقاما بدراسته والتمعن فيه واطلعا على كافة شروطه واستحقاقاته وقبلا بها.

  </strong>
</p>

<p dir="RTL">
  <strong>
    وإثباتاً لما ذكر تم توقيع الطرفين على هذا العقد في التاريخ الموضح أعلاه والله يشهد وهو خير الشاهدين.
  </strong>
</p>










<div class="row" style="margin-top:50px;">

  <div class="col-md-6">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <div>
                        <p dir="RTL">
                            الطــــــرف الأول
                        </p>

                    </div>
                </td>
            </tr>
        </tbody>
      </table>
  </div>

  <div class="col-md-6">

    <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <div>
                        <p dir="RTL">
                            الطــــــرف الثاني
                        </p>

                    </div>
                </td>
            </tr>
        </tbody>
      </table>
  </div>
</div>


<br clear="ALL"/>


</div>
</div>
