<!--
<div style="background-image: url('../../../assets/app-assets/images/paper.jpeg');
background-repeat: no-repeat;
background-repeat: repeat-y;
background-size: contain;">


<div style="padding-top: 200px;
padding-right: 100px;
padding-left: 44px;">
<p align="center" dir="RTL" style="color:blue">
  <strong><u>عقــد رقــم ( ..... )</u></strong>
</p>
<p dir="RTL">
  <strong>
      بعون الله تعالى جرى الاتفاق في يوم  .......... هــ الموافق ......... م .
  </strong>
</p>
<p dir="RTL">
  <strong>بين كل من : </strong>
</p>
<p dir="RTL">
  <strong>مؤسسة ارت التظليل للمظلات طرف اول</strong>
</p>
<p dir="RTL">
  <strong>شركة ............. طرف ثان</strong>
</p>
<p dir="RTL">
  <strong>1-</strong>
  <strong>
      4031270308 سجل تجارى رقم ويمثلها في التوقيع على العقد السيد/ مشهور
      عبدالله سمران الحربي ويشار اليه في هذا العقد بالطرف الاول.
  </strong>
</p>
<p dir="RTL">
  <strong>2</strong>
  <strong>
      - ............... سجل تجارى رقم ويمثلها في التوقيع على العقد السيد/
      ................ يشار اليه في هذا العقد بالطرف الثانى
  </strong>
</p>

<p align="center" style="color: red;">
  <strong><u>تعريف المظلة</u></strong>
</p>

<p align="right" style="color: red;">
  <strong><u> المواصفات العامة يتكون هيكل المظلة المتحركة من :</u></strong>
</p>


<p dir="RTL">
  <strong>* </strong>
  <strong>
      الالمنيوم الخاص سماكة (3 ملي)متعدد المقاسات مدعم من الداخل لتتحمل اوزان
      وأحمال مختلفة حسب المساحات علما بأن الهيكل قابل للفك والنقل والتركيب في
      اكثر من موقع
  </strong>
</p>
<p dir="RTL">
  <strong>* </strong>
  <strong>المواتير المستحدمة من شركة </strong>
  <strong> ( somfy )</strong>
  <strong>بريموت كنترول ( صناعة فرنسية/ او بولندي).</strong>

</p>
<p dir="RTL">
  <strong>* </strong>
  <strong>القماش </strong>
  <strong>(PVC)</strong>
  <strong> من شركة (</strong>
  <strong>SIOEN</strong>
  <strong>) بلجيكي</strong>
</p>
<p dir="RTL">
  <strong>* </strong>
  <strong>الاضاءات الخاصه بالمظلة نظام (</strong>
  <strong>LED</strong>
  <strong>) باكثر من لون جميعها من شركة سامسنج (</strong>
  <strong>SAMSUNG</strong>
  <strong>)</strong>

</p>
<p dir="RTL">
  <strong>* </strong>
  <strong>جميع اكسسوارات المظلة (تركية الصنع) من شركة رويال كلاس</strong>
</p>
<p dir="RTL" style="color: red;">
  <strong><u>المواصفات التى تم الاتفاق عليها مع العميل:</u></strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>الدهان :</strong>
</p>
<p dir="RTL">
  <strong>
      الالمونيوم يتم رشه بدهان بودره حرارى اللون حسب الاختيار . ( 3266616 )
  </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong><u>الاغطيه :</u></strong>
  <strong> القماش (</strong>
  <strong>PVC</strong>
  <strong>) من شركة (</strong>
  <strong>SIOEN</strong>
  <strong>) بلجيكي</strong>

</p>
<p dir="RTL">
  <strong>(</strong>
  <strong>850/P-V-C</strong>
  <strong>جرام) عازل للحراره وعاكس لاشعة الشمس ومقاوم للحريق .</strong>
</p>
<p dir="RTL" style="color: red;">
  <strong><u>الضمان</u></strong>
  <strong>:</strong>
</p>
<p dir="RTL">
  <strong>
      خمس سنوات من مؤسسة ارت التظليل للمظلات علي الهيكل والقطاعات ويتم تزويد
      العميل بشهادة ضمان
  </strong>
  <strong>( 5 سنوات ) </strong>
  <strong> من الشركة المصنعه للمحرك(</strong>
  <strong>SOMFY</strong>
  <strong>) . كذلك من الشركة </strong>
  <strong>(</strong>
  <strong>SIOEN</strong>
  <strong>)</strong>
  <strong> المصنعه للقماش</strong>
  <strong>( 5 سنوات )</strong>
  <strong>
      وضمان التركيب لمدة (خمس سنوات ) من مؤسسة ارت لتظليل للمظلات ما عادا سوء
      الاستخدام والصدمات
  </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>شروط الضمان : </strong>
</p>
<p dir="RTL">
  <strong>
      تلتزم الشركة بتوفير كافة قطع الغيار للعميل سواء من معرض جدة او من خارج
      المملكة .
  </strong>
</p>
<p dir="RTL">
  <strong>
      على العميل تسهيل الدخول والخروج للعماله واستخراج التصاريح ان لزم الامر
      من الموقع .
  </strong>
</p>
<p dir="RTL">
  <strong>
      على العميل توفير السقالات والرافعات على ان تكون حسب اشتراطات الامن
      والسلامه اذا كان المشروع خارج مدينة جدة .
  </strong>
</p>
<p dir="RTL">
  <strong>
      وفي حالة طلب معدات رافعه اليه بارتفاعات كبيره على العميل توفيرها اذا
      كان المشروع خارج مدينة جدة.
  </strong>
</p>
<p dir="RTL">
  <strong>
      وفي حالة كان الموقع خارج نطاق مدينة المعرض بجده على العميل توفير تذاكر
      السفر والسكن اثناء فتره الصيانه .
  </strong>
</p>
<p dir="RTL">
  <strong>
      في حال الاحتياج الي هياكل معدنية يتم اضافة قيمة الهيكل علي اجمالي العقد
  </strong>
</p>
<p dir="RTL">
  <strong>
      تضمن مؤسسة ارت عدم تاثر المظله من الرياح العادية مالم تكن اعاصير وسرعة
      غير طبيعية
  </strong>
</p>
<p dir="RTL">
  <strong>هيكل المظلة يشمل الاعمدة الامامية فقط </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong><u>فترة التوريد والتركيب :</u></strong>
</p>
<p dir="RTL">
  <strong>(40) يوم من تاريخ اعتماد المخططات واستلام الدفعه الاولى. .</strong>
</p>
<!-- <p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p> --
<p dir="RTL" style="color: red;">
  <strong><u>الية الدفعه :</u></strong>
</p>
<p dir="RTL">
  <strong>1</strong>
  <strong>) 50%</strong>
  <strong> </strong>
  <strong>دفعه اولى عند التوقيع.</strong>
</p>
<p dir="RTL">
  <strong>2</strong>
  <strong>) 40%</strong>
  <strong>  عند انتهاء التصنيع  </strong>
  <strong></strong>
  <strong>  و  قبل  خروج البضاعه من مستودعات مؤسسة ارت التظليل للمظلات  </strong>
</p>
<p dir="RTL">
  <strong>3</strong>
  <strong>) </strong>
  <strong>10</strong>
  <strong>
      % بعد الانتهاء وقبل تركيب المواتير والبرمجه مع عمل تجربة وتصوير فيديو
      للمظله في حالة التشغيل
  </strong>
  <strong></strong>
</p>
<p dir="RTL" style="color: red; padding-top: 350px;" align="center ">
  <strong><u>جدول المواصفات والمساحة والسعر/ </u></strong>
</p>
<div align="center">
  <table dir="rtl" border="1" cellspacing="0" cellpadding="0" width="658">
      <tbody>
          <tr>
              <td width="168" valign="top">
                  <p align="center" dir="RTL" style="color: red;">
                      <strong>النوع</strong>
                  </p>
              </td>
              <td width="76" valign="top">
                  <p align="center" dir="RTL" style="color: red;">
                      <strong>المساحة</strong>
                  </p>
              </td>
              <td width="85" valign="top">
                  <p align="center" dir="RTL" style="color: red;">
                      <strong>سعر المتر المبع</strong>
                  </p>
              </td>
              <td width="110" valign="top">
                  <p align="center" dir="RTL" style="color: red;">
                      <strong>السعر الاجمالي</strong>
                  </p>
              </td>
              <td width="134" valign="top">
                  <p align="center" dir="RTL" style="color: red;">
                      <strong>15% القيمة المضافه</strong>
                  </p>
              </td>
              <td width="85" valign="top">
                  <p align="center" dir="RTL" style="color: red;">
                      <strong>الاجمالي</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="168" valign="top">
                  <p dir="RTL">
                      <strong>1600 </strong>
                      <strong>
                          SERİES STANDART PERGOLA Pergola standard (631x7.4)
                          x2
                      </strong>
                  </p>
              </td>
              <td width="76" valign="top">
                  <p dir="RTL">
                      <strong>93.5</strong>
                  </p>
              </td>
              <td width="85" valign="top">
                  <p dir="RTL">
                      <strong>693</strong>
                  </p>
              </td>
              <td width="110" valign="top">
                  <p dir="RTL">
                      <strong>59760</strong>
                  </p>
              </td>
              <td width="134" valign="top">
                  <p dir="RTL">
                      <strong>8964</strong>
                  </p>
              </td>
              <td width="85" valign="top">
                  <p dir="RTL">
                      <strong>68724</strong>
                  </p>
              </td>
          </tr>

          <tr>
              <td width="168" valign="top">
                  <p dir="RTL">
                      <strong></strong>
                  </p>
              </td>
              <td width="76" valign="top">
                  <p dir="RTL">
                      <strong></strong>
                  </p>
              </td>
              <td width="85" valign="top">
              </td>
              <td width="110" valign="top">
                  <p dir="RTL">
                      <strong></strong>
                  </p>
              </td>
              <td width="134" valign="top">
                  <p dir="RTL">
                      <strong></strong>
                  </p>
              </td>
              <td width="85" valign="top">
                  <p dir="RTL">
                      <strong>68724</strong>
                  </p>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<p dir="RTL" style="color: red; " align="center">
  <strong><u>جدول التحويل والسداد</u></strong>
</p>
<div align="center">
  <table dir="rtl" border="1" cellspacing="0" cellpadding="0">
      <tbody>
          <tr>
              <td width="160" valign="top">
                  <p dir="RTL">
                      <strong>50</strong>
                      <strong>% دفعة تعاقد</strong>
                  </p>
              </td>
              <td width="160" valign="top">
                  <p dir="RTL">
                      <strong>40</strong>
                      <strong>% دفعة ثانيه مع الشحن</strong>
                  </p>
              </td>
              <td width="217" valign="top">
                  <p dir="RTL">
                      <strong>10 %دفعة اخيرة مع التسيلم قبل البرمجة</strong>
                  </p>
              </td>
              <td width="102" valign="top">
                  <p dir="RTL">
                      <strong>اجمالي المبلغ</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="160" valign="top">
                  <p dir="RTL">
                      <strong>34362</strong>
                  </p>
              </td>
              <td width="160" valign="top">
                  <p dir="RTL">
                      <strong>27489</strong>
                  </p>
              </td>
              <td width="217" valign="top">
                  <p dir="RTL">
                      <strong>6872</strong>
                  </p>
              </td>
              <td width="102" valign="top">
                  <p dir="RTL">
                      <strong>68724</strong>
                  </p>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<p dir="RTL" style="color: red;" align="center">
  <strong><u>الحساب البنكي للمؤسسة </u></strong>
</p>
<div align="center">
  <table
      dir="rtl"
      border="1"
      cellspacing="0"
      cellpadding="0"
      width="646"
  >
      <tbody>
          <tr>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>البنك الاهلي</strong>
                  </p>
              </td>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>IBAN</strong>
                  </p>
              </td>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>رقم الحساب</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>مؤسسة ارت التظلٌل للمظلات</strong>
                  </p>
              </td>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>SA1010000001400013939104</strong>
                  </p>
              </td>
              <td width="215" valign="top">
                  <p align="center" dir="RTL">
                      <strong>01400013939104</strong>
                  </p>
              </td>
          </tr>
      </tbody>
  </table>
</div>
-- <p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p>
<p dir="RTL">
  <strong></strong>
</p> --
<p dir="RTL" style="color: red; " >
  <strong>ملاحظه :</strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>
      تامين صرف المياه والتوصيلات الكهربائيه وتجهيز الموقع حسب متطلبات
      التركيب وتقفيل الفراغات بين جسم المظله والجدار على العميل .
  </strong>
</p>
<p dir="RTL"style="color: red;">
  <strong>
      تعتمد جميع عروض الاسعار او العقود التى ارسلت إلكترونياَ بين الشركه
      والعميل في حاله دفع الدفعه الاولى على الحسابات البنكيه للحفاظ على حقوق
      كل من الطرفين .
  </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>
      في حالة التاخر عن موعد التوريد والتركيب يحسب عن كل يوم تاخير (200
  </strong>
  <strong> ريال) ولا يزيد عن (</strong>
  <strong>5</strong>
  <strong>%) من قيمة العقد .</strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>لا يحق للعميل ايقاف الدفعات نهائيا لاى سبب </strong>
</p>
<p dir="RTL"style="color: red;">
  <strong>في حال المماطلة اكثر من (</strong>
  <strong>30 </strong>
  <strong> يوم)من توريد المنتج يحسب (</strong>
  <strong>10</strong>
  <strong>
      %) من قيمة العقد عن كل شهر تأخير واجور محاماه ان استدعى الامر .
  </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>
      تلتزم مؤسسة أرت التظليل للمظلات باى ملاحظات في المنتج اثناء التركيب حسب
      بنود العقد وفتره الضمان .
  </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>
      يلتزم العميل بالسداد عند وصول البضاعه للموقع واذا لم يتم السداد يتم
      استرجاع البضاعه للمصنع واحتساب تكلفة التحميل والتنزيل على العميل
  </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>
      في حالة عدم استلام العميل للبضاعه بعد انتهاء التصنيع لاكثر من (
  </strong>
  <strong>6</strong>
  <strong>
      اشهر) تتلف البضاعه ولايحق للعميل المطالبه باى تعويضات واسترداد الدفعه .
  </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>
      يحق مؤسسة ارت التظليل للمظلات في حالة عدم سداد العميل للدفعه المستحقه
      سحب المحركات والغاء البرمجه لحين سداد الدفعه
  </strong>
</p>
<p dir="RTL"style="color: red;">
  <strong>لايتم احتساب العطل الرسميه والاجازات من ضمن مدة العقد.</strong>
</p>
<p dir="RTL"style="color: red;">
  <strong>
      في حالة تغيير نسبة القيمة المضافة يتم احتسابها على العميل حسب فترة
      السداد .
  </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>
      في حالة وجود اى قوه قاهره لايتم احتساب هذه الفتره من مدة العقد
  </strong>
</p>
<p dir="RTL" style="color: red;">
  <strong>
      في حاله وجود جدران في الموقع لتثبيت مقدمة الظل لايتم ارفاق اعمدة ع
      المظله .
  </strong>
</p>


<div class="row">

  <div class="col-md-6">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <div>
                        <p dir="RTL">
                            الطــــــرف الأول
                        </p>
                        <p dir="RTL">
                            الاسم /
                        </p>
                        <p dir="RTL">
                            التوقيع أو الختم /
                        </p>
                        <p dir="RTL">
                            التاريخ /
                        </p>
                        <p dir="RTL">
                            جوال/ 0563331125
                        </p>
                        <p dir="RTL">
                            pergola@art-pergola.com
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
      </table>
  </div>

  <div class="col-md-6">

    <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <div>
                        <p dir="RTL">
                            الطــــــرف الثاني
                        </p>
                        <p dir="RTL">
                            الاسم /
                        </p>
                        <p dir="RTL">
                            التوقيع أو الختم /
                        </p>
                        <p dir="RTL">
                            التاريخ /
                        </p>
                        <p dir="RTL">
                            جوال/
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
      </table>
  </div>
</div>


<br clear="ALL"/>


</div>
</div> -->
