<section id="card-actions">

    <div class="row">
        <div class="col-xs-12">
            <div class="card">

                <div class="card-body collapse in">
                    <div class="card-block">
                        <h3 class="card-title">الاصناف</h3>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group">
                                    
                                    <div class="input-group">                                       
                                        <input type="search" [(ngModel)]="term" placeholder="بحث" (change)="getItems()" class="form-control" />
                                        <span class="input-group-addon"><a >
                                            <i class="fa fa-search"></i>
                                        </a></span>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table  table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>كود الصنف</th>
                                                <th>اسم الصنف</th>
                                                <th>الوحدة</th>
                                                <th>سعر البيع</th>
                                                <th><button class="btn btn-outline-success" routerLink="/Items"><i
                                                            class="fa fa-plus"></i>
                                                        اضافة صنف</button></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="ItemsList">
                                            <tr *ngFor="let itm of ItemsList | paginate : {
                                                itemsPerPage: pageSize,
                                                currentPage: page,
                                                totalItems: count
                                              };
                                        let i = index " style="cursor: pointer;">
                                                <th scope="row">  {{( i + 1 ) }}</th>
                                                <td (click)="openForEdit(itm.ItemID)">{{ itm.ItemNO }}</td>
                                                <th (click)="openForEdit(itm.ItemID)">{{ itm.ItemName }}</th>

                                                <td (click)="openForEdit(itm.ItemID)">{{ itm.UnitName }}</td>
                                                <td (click)="openForEdit(itm.ItemID)">{{ itm.ItemSalePrice }}</td>

                                                <td><a class="btn text-danger" *ngIf="UserType=='ADMIN'"
                                                        (click)="onOrderDelete(i,itm.ItemID)"><i
                                                            class="fa fa-trash fa-lg"></i> </a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="col-md-3">
                                ...

                                عدد السجلات فى الصفحة:
                                <select (change)="handlePageSizeChange($event)">
                                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                                        {{ size }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                    (pageChange)="handlePageChange($event)"></pagination-controls>
                            </div>
                            <div class="col-md-2">
                                Result: {{count}}
                             </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>