<section id="card-actions">
    <h3 class="card-title">فاتورة مشتريات</h3>
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-body collapse in">
            <div class="card-block">
              <div class="row">
                <div class="col-xl-12 col-lg-12 mb-2">
  
                  <form #form="ngForm" autocomplete="off" *ngIf="PurchasingServ.formData" (submit)="onSubmit(from)" novalidate>
                    <input type="hidden" name="PurchasingID" #PurchasingID="ngModel" [(ngModel)]="PurchasingServ.formData.PurchasingID">
                   
                    <div class="row">
  
                      <div class="col-md-6">
                        <label>رقم الفاتورة</label>

                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="PurchasingNo" #PurchasingNo="ngModel" [(ngModel)]="PurchasingServ.formData.PurchasingNo" class="form-control"
                           placeholder="رقم الفاتورة" required [class.is-invalid]="!isValid && (PurchasingServ.formData.PurchasingNo == null || PurchasingServ.formData.PurchasingNo == '')">
                          <div class="form-control-position">
                            <i class="fa fa-building"></i>
                          </div>
  
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <label>التاريخ</label>

                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="PurchasingDate" #PurchasingDate="ngModel" [ngModel]="PurchasingServ.formData.PurchasingDate | date:'yyyy-MM-dd'" 
                          (ngModelChange)="PurchasingServ.formData.PurchasingDate = $event" class="form-control" placeholder="التاريخ" required
                            data-toggle="tooltip" data-placement="top" title data-original-title="التاريخ" type="date">
  
                        </fieldset>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>المخزن</label>

                        <fieldset class="form-group position-relative has-icon-left">
                          <select  name="StoreId" #StoreId="ngModel" [(ngModel)]="PurchasingServ.formData.StoreId" class="form-control"
                          required [class.is-invalid]="!isValid && (PurchasingServ.formData.StoreId == null || PurchasingServ.formData.StoreId == 0)"
                          [disabled]="PurchasingServ.formData.PurchasingID !== -1 ? true : null" >
                          <option value='0'>-- Select --</option>
                            <option *ngFor="let store of storeslist" [ngValue]="store.StoreId">{{store.StoreName}}</option>
                          </select>
                          <div class="form-control-position">
                            <i class="fa fa-truck"></i>
                          </div>
  
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <label>المورد</label>

                        <fieldset class="form-group position-relative has-icon-left">
                          <select name="SupplierId" #SupplierId="ngModel" [(ngModel)]="PurchasingServ.formData.SupplierId" class="form-control"
                          required [class.is-invalid]="!isValid && (PurchasingServ.formData.SupplierId == null || PurchasingServ.formData.SupplierId == 0)"  
                          [disabled]="PurchasingServ.formData.PurchasingID !== -1 ? true : null">
                          <option value='0'>-- Select --</option>

                            <option *ngFor="let Supp of Supplierslist" [ngValue]="Supp.SupplierId">{{Supp.SupplierName}}</option>
                          </select>
                          <div class="form-control-position">
                            <i class="icon-user4"></i>
                          </div>
  
                        </fieldset>
                      </div>
  
                    </div>
                    <div class="row" *ngIf="UserType=='ADMIN'">
                      <div class="col-md-6" >
                        <label>معامل تحويل الدولار</label>

                        <fieldset *ngIf="UserType=='ADMIN'" class="form-group position-relative has-icon-left">
                          <input  name="ExchangeRate" #ExchangeRate="ngModel" [(ngModel)]="PurchasingServ.formData.ExchangeRate" 
                          class="form-control" placeholder="معامل تحويل الدولار" required [class.is-invalid]="!isValid && (PurchasingServ.formData.ExchangeRate == null || PurchasingServ.formData.ExchangeRate == 0)" 
                            data-toggle="tooltip" data-placement="top" title data-original-title="معامل تحويل الدولار"
                            >
                          <div class="form-control-position">
                            <i class="fa fa-pencil-square-o"></i>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                   
                    <div class="row">
                      <div class="col-md-12">
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="PurchasingNotes" #PurchasingNotes="ngModel" [(ngModel)]="PurchasingServ.formData.PurchasingNotes" class="form-control" placeholder="ملاحظات" required
                            data-toggle="tooltip" data-placement="top" title data-original-title="ملاحظات">
                          <div class="form-control-position">
                            <i class="fa fa-pencil-square-o"></i>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 mb-2">
                        <div class="table-responsive text-nowrap">
                          <table class="table table-sm table-hover table-bordered">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>كود الصنف</th>
                                <th>اسم الصنف</th>
                                <!-- <th>بلد المنشأ</th> -->
                                <th>الكمية</th>
                                <th>الوحدة</th>
                                <th *ngIf="UserType=='ADMIN'">السعر بالدولار $</th>

                                <th>السعر بالجنيه</th>
                                <th>الاجمالى </th>
                                <th *ngIf="UserType=='ADMIN'">الاجمالى بالدولار</th>
                                <th>
                                  <a class="btn btn-sm btn-success text-white" (click)="AddOrEditSalInvItems(null,PurchasingServ.formData.PurchasingID)"><i class="fa fa-plus"></i>إضافة صنف</a>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let Item of PurchasingServ.formData.purchasingDets;let i=index;">
                                <th scope="row">{{i+1}}</th>
                                <td>{{Item.ItemNO}}</td>
                                <td>{{Item.ItemName}}</td>
                                <!-- <td>{{Item.CompanyName}}</td> -->
                                <td>{{Item.Qty}}</td>
                                <td>{{Item.UnitName}}</td>
                                <td *ngIf="UserType=='ADMIN'">{{Item.DollarPrice}}</td>

                                <td>{{Item.Price}}</td>
                                <td>{{Item.Tot}}</td>
                                <td *ngIf="UserType=='ADMIN'">{{Item.DollarPriceTot}}</td>
                                <td>
                                  <a class="btn btn-sm btn-info text-white" (click)="AddOrEditSalInvItems(i,PurchasingServ.formData.PurchasingID)"><i class="fa fa-pencil"></i>تعديل</a>
                                  <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteSalInvItems(Item.SerNo, i)"><i class="fa fa-trash"></i>حذف</a>
                                </td>
                              </tr>
  
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    
                      <div class="col-md-4">
                        <label for="Department">عدد الاصناف</label>
                        <span>{{ItemsCount}}</span>                      
                      </div>
                      <div class="col-md-4">
                        <label for="Department">إجمالى الفاتورة  </label>
                        <p>{{PurchasingServ.formData.PurchasingTot}}</p>
                      </div>
                      <div class="col-md-4" *ngIf="UserType=='ADMIN'" >
                        <label for="Department"  >إجمالى الفاتورة بالدولار</label>
                        <p>{{PurchasingTotDollar}}</p>
                      </div>
  
                    
                    </div>
                    <div class="row">
                    
                      <div class="col-md-2">
                        <label for="Department">نسبة الخصم</label>
                        <input name="PurchasingDiscRatio" #PurchasingDiscRatio="ngModel" [(ngModel)]="PurchasingServ.formData.PurchasingDiscRatio"  placeholder="اجمالى الفاتورة" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="نسبة الخصم"  (keyup)="calcDiscValue()" >%
                      </div>
                      <div class="col-md-2">
                        <label for="Department">قيمة الخصم</label>
                          <input name="PurchasingDisc" #PurchasingDisc="ngModel" [(ngModel)]="PurchasingServ.formData.PurchasingDisc"  placeholder="اجمالى الفاتورة" required
                          data-toggle="tooltip" data-placement="top"  title data-original-title="خصم الفاتورة" (keyup)="calcDiscRatio()">
                      </div>
                      <div class="col-md-4">
                        <label for="Department">صافى الفاتورة</label>
                        <input name="PurchasingVal" #PurchasingVal="ngModel" [(ngModel)]="PurchasingServ.formData.PurchasingVal" class="form-control" placeholder="اجمالى الفاتورة" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="صافى الفاتورة">
                      </div>
  
                      <div class="col-md-4">
                        <button class="btn btn-success " type="submit" [disabled]="((PurchasingServ.formData.PurchasingID !== -1  && UserType!='ADMIN') || !isEnabled)? true : null"><i class="icon-check2" ></i>
                          حفظ</button>

                          <button class="btn btn-warning ml-1 btn-md "  type='button' (click)="generatePdf()" ><i class="fa fa-file"></i>
                            طباعة </button>
                          <button class="btn btn-outline-dark ml-2 " type='button' routerLink="/PurchasingsView"  ><i class="fa fa-table"></i> الرجوع لاستعراض الفواتير</button>
                      </div>
                    </div>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </section>