.type{
    width: 100%;
    position: static;
    height: 35px;
    top: 0;
    left: 0;
    line-height: initial;
    overflow: hidden;
    background-color: #b52a20;
    text-align: center;
    color: #fafafa;
    font-size: 11px;
    font-family: 'kawkab-light';
    /* font-family: 'rsail-bold'; */
    text-align: center;
    line-height: 42px;
}