<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">

</div>

<!-- navbar-fixed-top-->
<app-nav-bar-header></app-nav-bar-header>


<!-- ////////////////////////////////////////////////////////////////////////////-->


<!-- main menu-->
<app-nav-bar></app-nav-bar>
<!-- / main menu-->

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
          
            
                <router-outlet></router-outlet>
        </div>
    </div>
</div>