<section id="card-actions">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">

        <div class="card-body collapse in">


          <div class="card-block">

            <div class="row">
              <div class="col-xl-12 col-lg-12 mb-2">

                <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                  <input type="hidden" name="ClientID" [value]="service.formData.ClientID">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1"
                        aria-expanded="true">Client Data</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2"
                        aria-expanded="false">Client Contact Person</a>
                    </li>

                  </ul>
                  <div class="tab-content px-1 pt-1">
                    <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true"
                      aria-labelledby="base-tab1">
                 

                    <div class="row">
                      <div class="col-md-12">
                        <fieldset class="form-group position-relative has-icon-left">

                          <input name="ClientName" #ClientName="ngModel" [(ngModel)]="service.formData.ClientName"
                            class="form-control" placeholder="Lead Name" required data-toggle="tooltip"
                            data-placement="top" title data-original-title="Lead Name">

                          <div class="form-control-position">
                            <i class="icon-user4" [class.green-icon]="ClientName.valid"
                              [class.red-icon]="ClientName.invalid && ClientName.touched"></i>
                          </div>

                        </fieldset>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="ClientMobile" #ClientMobile="ngModel" [(ngModel)]="service.formData.ClientMobile"
                            class="form-control" placeholder=" Digit Mobile Numberr" required  data-toggle="tooltip"
                            data-placement="top" title data-original-title="Lead Mobile Number" OnlyNumber="true"  >
                          <div class="form-control-position">
                            <i class="icon-mobile3" [class.green-icon]="ClientMobile.valid"
                              [class.red-icon]="ClientMobile.invalid && ClientMobile.touched"></i>
                          </div>
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="ClientPhone" #ClientPhone="ngModel" [(ngModel)]="service.formData.ClientPhone"
                            class="form-control" placeholder=" Digit Phone Number">
                          <div class="form-control-position"  >
                            <i class="fa fa-phone" [class.green-icon]="ClientMobile.valid"
                              [class.red-icon]="ClientMobile.invalid && ClientMobile.touched"></i>
                          </div>

                        </fieldset>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                      <fieldset class="form-group position-relative has-icon-left">
                        <input name="ClientWorkField" #ClientWorkField="ngModel"
                          [(ngModel)]="service.formData.ClientWorkField" class="form-control" placeholder="Industry"
                           data-toggle="tooltip" data-placement="top" title data-original-title="Lead Industry Field">
                        <div class="form-control-position">
                          <i class="icon-industry"></i>
                        </div>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset class="form-group position-relative has-icon-left">
                        <select name="ChannelID" #ChannelID="ngModel" [(ngModel)]="service.formData.ChannelID" 
                          class="form-control"  data-toggle="tooltip" data-placement="top" title data-original-title="Connection Channel">
                          <option *ngFor="let Channel of this.ChannelsList" [ngValue]="Channel.ChannelID">
                            {{Channel.ChannelName}}</option>
                        </select>
                        <div class="form-control-position">
                          <i class="icon-share4"></i>
                        </div>

                      </fieldset>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <fieldset class="form-group position-relative has-icon-left">
                        <select name="ProjectID" #ProjectID="ngModel" [(ngModel)]="service.formData.ProjectID" 
                          class="form-control"  data-toggle="tooltip" data-placement="top" title data-original-title="Project">
                          <option *ngFor="let Proj of this.ProjectsList" [ngValue]="Proj.ProjectID">
                            {{Proj.ProjectName}}
                          </option>
                        </select>
                        <div class="form-control-position">
                          <i class="fa fa-building"></i>
                        </div>

                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset class="form-group position-relative has-icon-left">
                        <select name="StageID" #StageID="ngModel" [(ngModel)]="service.formData.StageID" required
                          class="form-control"  data-toggle="tooltip" data-placement="top" title data-original-title="Lead Current Stage">
                          <option *ngFor="let Stage of this.StagesList" [ngValue]="Stage.StageID">{{Stage.StageNameAr}}
                          </option>
                        </select>
                        <div class="form-control-position">
                          <i class="fa fa-flag" [class.green-icon]="ClientMobile.valid"
                            [class.red-icon]="ClientMobile.invalid && ClientMobile.touched"></i>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <fieldset class="form-group position-relative has-icon-left">

                        <input name="ClientAddress" #ClientAddress="ngModel" [(ngModel)]="service.formData.ClientAddress"
                          class="form-control" placeholder="Lead Address"  data-toggle="tooltip"
                          data-placement="top" title data-original-title="Lead Address">

                        <div class="form-control-position">
                          <i class="icon-ios-location" ></i>
                        </div>

                      </fieldset>
                    </div>
                  </div>




                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <textarea class="form-control" rows="3" name="LastComment" #LastComment="ngModel"
                          [(ngModel)]="service.formData.LastComment" class="form-control"
                          placeholder="Notes"  data-toggle="tooltip" data-placement="top" title data-original-title="Notes"></textarea>

                      </div>
                    </div>

                    <div class="form-group">
                      <select name="EmpID" #EmpID="ngModel" [(ngModel)]="service.formData.EmpID" required
                        class="form-control">
                        <option *ngFor="let Emp of this.Empslist" [ngValue]="Emp.EmpID">{{Emp.EmpName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab2" aria-labelledby="base-tab2">
                    <div class="row">
                      <div class="col-md-12">
                        <fieldset class="form-group position-relative has-icon-left">

                          <input name="ContactPerson" #ContactPerson="ngModel" [(ngModel)]="service.formData.ContactPerson"
                            class="form-control" placeholder="Lead Contact Person"  data-toggle="tooltip"
                            data-placement="top" title data-original-title="Lead Contact Person">

                          <div class="form-control-position">
                            <i class="icon-user4" [class.green-icon]="ContactPerson.valid"
                              [class.red-icon]="ContactPerson.invalid && ContactPerson.touched"></i>
                          </div>

                        </fieldset>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="ContactPersonMobile" #ContactPersonMobile="ngModel" [(ngModel)]="service.formData.ContactPersonMobile"
                            class="form-control" placeholder="11 Digit Mobile Number" OnlyNumber="true" maxlength="11" pattern="\d{11}" >
                          <div class="form-control-position">
                            <i class="icon-mobile3" ></i>
                          </div>
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="ContactPersonEmail" #ContactPersonEmail="ngModel" [(ngModel)]="service.formData.ContactPersonEmail"
                            class="form-control" placeholder="Email" type="email" >
                          <div class="form-control-position">
                            <i class="icon-mail6" ></i>
                          </div>

                        </fieldset>
                      </div>
                    </div>
                  </div>

              </div>

              <div class="form-group">
                <button class="btn btn-success " type="submit" [disabled]="form.invalid"><i class="icon-check2"></i>
                  حفظ</button>
                <button class="btn btn btn-secondary ml-2 " type="button" (click)="route()"><i class="fa fa-table"></i>
                  الرجوع لاستعراض العملاء</button>

                <button class="btn btn-warning ml-2 " type="button"
                  (click)="AddOrEditEvent(service.formData.ClientID)"><i class="fa fa-calendar-plus-o"></i>
                  إضافة متابعة</button>
                <button class="btn btn btn-secondary ml-2 " *ngIf="service.formData.ClientID > 0 " type="button"
                  (click)="openActionsReport()"><i class="fa fa-list"></i> عرض متابعات العميل</button>



              </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>


</section>