<!-- 

<div class="card-block"  >

    <form class="form-horizontal form-simple" action="customer-orders.html" method="post" #NextloginForm="ngForm"
      (submit)="OnLogin(UserName.value,Password.value)">
      
       <fieldset class="form-group position-relative has-icon-left">
         
          <input id="emailLogin"class="form-control" style="padding-left: 2.75rem;" #UserName ngModel name="UserName" placeholder="اسم المستخدم" required >
          <div class="form-control-position">
            <i class="icon-head "></i>
          </div>
        </fieldset>
      <fieldset class="form-group position-relative has-icon-left">
      
        <input id="passwordLogin" type="password" style="padding-left: 2.75rem;" class="form-control" #Password ngModel name="Password" placeholder="كلمة المرور" required >
        <div class="form-control-position">
          <i class="icon-key3"></i>
        </div>
      </fieldset> 

      <div class="form-group">

      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-danger "><i class="fa fa-sign-in"></i> دخول</button>
        <!-- <a class="btn btn-danger  ml-1" (click)="Logout()"><i class="fa fa-trash"></i>خروج</a> --

      </div>
    </form>

  </div> -->