<div>
  <div class="box">
    <h1>New account</h1>
    <p class="lead">Not our registered customer yet?</p>
    <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The
      whole process will not take you more than a minute!</p>
    <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>,
      our customer service center is working for you 24/7.</p>
    <hr>
    <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)" ngNativeValidate>
      <div class="form-group">
        <label for="UserName">User Code</label>
        <input id="UserName" type="text" class="form-control" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName"
          required >
        <div class="text-danger" *ngIf="UserName.invalid && (UserName.dirty || UserName.touched)">
          <div *ngIf="UserName.errors?.required &&  UserName.touched">UserName is required</div>          
        </div>
      </div>
      
      <div class="form-group">
        <label for="FirstName">Customer Name</label>
        <input id="FirstName" type="text" class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName"
          required>
        <span class="error-message" *ngIf="FirstName.invalid && FirstName.touched">Name is required*</span>
      </div>
      <div class="form-group">
        <label for="LastName">Customer Program</label>
        <input id="LastName" type="text" class="form-control" name=LastName #LastName="ngModel" [(ngModel)]="user.LastName"
          required>
        <span class="error-message" *ngIf="LastName.invalid && LastName.touched">Customer Program is required*</span>
      </div>
      
     
      <div class="form-group">
        <label for="CustomerInfoConnStr">CustomerInfoConnStr</label>
        <input id="CustomerInfoConnStr" type="text" class="form-control" name=CustomerInfoConnStr #CustomerInfoConnStr="ngModel" [(ngModel)]="user.CustomerInfoConnStr"
          required>
        <span class="error-message" *ngIf="CustomerInfoConnStr.invalid && CustomerInfoConnStr.touched">CustomerInfoConnStr is required*</span>
      </div>
      
      <div class="text-center">
        <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i>Register</button>
      </div>
    </form>
  </div>
</div>


