<section id="card-actions">

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body collapse in">
                    <div class="card-block">
                        <h3 class="card-title">الشركات</h3>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">

                                
                                <div class="form-group text-center">  
                                    <div class="input-group"> 
                                        <input type="search" [(ngModel)]="title" placeholder="بحث"  (change)="getEnterprisess()" class="form-control" />
                                        <span class="input-group-addon"><a >
                                            <i class="fa fa-search"></i>
                                        </a></span>
                                    </div>
                                </div>


                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead>  
                                            <tr>
                                                <th>#</th>
                                                <th> كود العميل</th>
                                                <th> الرقم السري </th>
                                                <th>نوع النشاط</th>
                                                <th>نوع الشركة</th>
                                                <th>اسم المشروع</th>
                                                <th>رقم التسجيل </th>
                                                <th>الرقم السري الفعال</th>
                                                <th>كود النشاط</th>
                                                <th>الحالة</th>
                                                <th>نوع التوقيع الإلكتروني</th>

                                                <!-- <th><button class="btn btn-outline-danger" routerLink="/Enterprises"><i
                                                            class="fa fa-plus"></i>
                                                        اضافة بيانات </button></th> -->
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="itemsList">
                                            <tr *ngFor="let itm of itemsList | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index " style="cursor: pointer;">
                                                <th scope="row"> {{ pageSize * (page - 1) + i + 1}}</th>
                                                <td (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.EnterpriseClientId }}</td>                                        
                                                <th (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.EnterpriseClientSecret }}</th>
                                                <td (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.ActivityTypeName }}</td>                                        
                                                <th (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.CompanyTypeName }}</th>
                                                <td (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.EnterpriseName }}</td>                                        
                                                <th (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.RegistrationNumber }}</th>
                                                <td (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.EnterpriseClientSecretActive }}</td>                                        
                                                <th (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.EnterpriseClientIdActive }}</th>
                                                <td (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.IsActivated }}</td>                                        
                                                <th (click)="openForEdit(itm.EnterpriseClientId)">{{ itm.EnterpriseCertificateName }}</th>

                                                <td>

                                                    <a class="btn text-info" *ngIf="UserType!='VIEWER'" (click)="openForEdit(itm.EnterpriseClientId)"><i
                                                        class="fa fa-pencil fa-lg"></i>
                                                    </a> 
                                                    
                                                    <!-- <a class="btn text-danger"  *ngIf="UserType!='VIEWER'"
                                                        (click)="onOrderDelete(i,itm.EnterpriseClientId)"><i
                                                            class="fa fa-trash fa-lg"></i> </a> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                ...

                                عدد السجلات فى الصفحة:
                                <select (change)="handlePageSizeChange($event)">
                                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                                        {{ size }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                    (pageChange)="handlePageChange($event)"></pagination-controls>
                            </div>
                            <div class="col-md-2">
                                Result: {{count}}
                            </div>
                           
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>