<section id="card-actions">
    <h3 class="card-title">عرض السعر </h3>
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-body collapse in">
            <div class="card-block">
              <div class="row">
                <div class="col-xl-12 col-lg-12 mb-2">

                  <form #form="ngForm" autocomplete="off" *ngIf="PriceListsServ.formData" (submit)="onSubmit(form)" novalidate>
                    <input type="hidden" name="priceList_ID" #priceList_ID="ngModel" [(ngModel)]="PriceListsServ.formData.priceList_ID">



                    <!-- {{message}}
                    <button type="button" (click)="newMessage()">New Message</button>
 -->


                    <div class="row">

                      <div class="col-md-3">
                        <label>تاريخ العرض </label>
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="priceList_Date" #priceList_Date="ngModel" [ngModel]="PriceListsServ.formData.priceList_Date | date:'yyyy-MM-dd'"
                          (ngModelChange)="PriceListsServ.formData.priceList_Date = $event"  class="form-control" placeholder="التاريخ" required
                            data-toggle="tooltip" data-placement="top" title data-original-title="التاريخ" type="date" max="today" style="text-align:right;">

                        </fieldset>
                      </div>

                       <!-- <div class="col-md-2">
                          <label>تاريخ العرض </label>
                          <div class="form-group">
                              <div class="input-group">
                                  <input _ngcontent-ugo-c140="" name="priceList_Date" placeholder="  لتاريخ " required=""
                                  data-toggle="tooltip" data-placement="top" title="" data-original-title="التاريخ "
                                  type="date" class="form-control ng-pristine ng-valid ng-touched"
                                  ng-reflect-required="" ng-reflect-name="priceList_Date" style="text-align:center;"
                                  ng-reflect-model="2021-06-10" #priceList_Date="ngModel" [(ngModel)]="PriceListsServ.formData.priceList_Date" >
                              </div>
                          </div>
                       </div>

                       <div class="col-md-4">
                        <label> مقدم إلى (اسم الشركة) </label>
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="priceList_Customer" #priceList_Customer="ngModel" [(ngModel)]="PriceListsServ.formData.priceList_Customer" class="form-control"
                           placeholder="مقدم إلى (اسم الشركة)   " required [class.is-invalid]="!isValid && (PriceListsServ.formData.priceList_Customer == null || PriceListsServ.formData.priceList_Customer == '')">
                          <div class="form-control-position">
                            <i class="fa fa-building"></i>
                          </div>

                        </fieldset>
                      </div>-->

                       <div class="col-md-4">
                        <label> مقدم إلى (اسم الشركة) </label>
                        <fieldset class="form-group position-relative has-icon-left">
                            <select name="customer_ID" #customer_ID="ngModel" [(ngModel)]="PriceListsServ.formData.customer_ID" (ngModelChange)="setSelectedCustomer($event)"
                            class="form-control" required [class.is-invalid]="!isValid && (PriceListsServ.formData.customer_ID == null || PriceListsServ.formData.customer_ID == 0)"  >
                             <option *ngFor="let customer of customerslist" [ngValue]="customer.customer_ID">{{customer.customer_Name}}</option>
                            </select>
                            <div class="form-control-position">
                             <i class="icon-user4"></i>
                            </div>
                        </fieldset>
                      </div>

                      <div class="col-md-1" style="margin-top: 24px;"  >
                        <fieldset class="form-group position-relative has-icon-left">
                            <a class="btn btn-sm btn-danger text-white" (click)="AddOrEditSalInvItemss()"><i class="fa fa-plus"></i></a>
                        </fieldset>
                      </div>

<!--
                      <div class="form-row" >
                        <div class="form-group col-md-5">
                      <div class="form-group">
                        <label> مقدم إلى (اسم الشركة) </label>
                        <mat-form-field class="example-full-width" style="text-align: right">
                          <input [(ngModel)]="selectedCustomer" matInput  [matAutocomplete]="auto"
                            [formControl]="stateCtrl" dir="rtl"  >
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"  >
                            <mat-option style="font-size: small;" *ngFor="let state of filteredStates | async" [value]="state"  >
                            <span>{{state.customer_Name}}</span>
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                        </div>
                      </div> -->


                      <div class="col-md-4">
                        <label> عناية ( المسؤول) </label>
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="priceList_Representative" #priceList_Representative="ngModel" [(ngModel)]="PriceListsServ.formData.priceList_Representative" class="form-control"
                           placeholder="عناية (اسم المسؤول) " required [class.is-invalid]="!isValid && (PriceListsServ.formData.priceList_Representative == null || PriceListsServ.formData.priceList_Representative == '')">
                          <div class="form-control-position">
                            <i class="fa fa-user-o"></i>
                          </div>

                        </fieldset>
                      </div>

                      </div>



                    <div class="row">

                      <div class="col-md-3">
                        <label>صلاحية العرض  </label>
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="priceList_Validity" #priceList_Validity="ngModel" [(ngModel)]="PriceListsServ.formData.priceList_Validity" class="form-control"
                           placeholder="صلاحية العرض  " required  [class.is-invalid]="!isValid && (PriceListsServ.formData.priceList_Validity == null || PriceListsServ.formData.priceList_Validity == 0)">
                          <div class="form-control-position">
                            <i class="fa fa-calendar-check-o"></i>
                          </div>

                        </fieldset>
                      </div>


                      <div class="col-md-3">
                        <label> فترة التوريد والتركيب (باليوم)  </label>
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="supplying_Duration" #supplying_Duration="ngModel" [(ngModel)]="PriceListsServ.formData.supplying_Duration" class="form-control"
                           placeholder=" فترة التوريد والتركيب (باليوم)   " required type="number" [class.is-invalid]="!isValid && (PriceListsServ.formData.supplying_Duration == null || PriceListsServ.formData.supplying_Duration == 0)">
                          <div class="form-control-position">
                            <i class="fa fa-wrench"></i>
                          </div>

                        </fieldset>
                      </div>

                      <div class="col-md-3">
                        <label>   معامل التحويل  </label>
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="exchangeRate" #exchangeRate="ngModel" [(ngModel)]="PriceListsServ.formData.exchangeRate" class="form-control"
                           placeholder=" معامل التحويل  " required type="number" [class.is-invalid]="!isValid && (PriceListsServ.formData.exchangeRate == null)"
                            [readonly]="ExchangeValue == true">
                          <div class="form-control-position">
                            <i class="fa fa-euro "></i>
                          </div>
<!-- {{ExchangeValue}} -->
                        </fieldset>
                      </div>

                      <div class="col-md-3">
                        <label> نسبة الخصم </label>
                        <fieldset class="form-group position-relative has-icon-left">
                          <input name="priceList_DiscountRate" #priceList_DiscountRate="ngModel" [(ngModel)]="PriceListsServ.formData.priceList_DiscountRate" class="form-control"
                           placeholder=" نسبة الخصم " required type="number" [class.is-invalid]="!isValid && (PriceListsServ.formData.priceList_DiscountRate == null )"
                           >
                          <div class="form-control-position">
                            <i class="fa fa-percent"></i>
                          </div>

                        </fieldset>
                      </div>



                    </div>



                    <div class="row mt-3">
                      <div class="col-xl-12 col-lg-12 mb-2">
                        <div class="table-responsive text-nowrap">
                          <div id="form">
                            <fieldset >
                               <legend style="font-weight:bold; text-align: center;">أصناف الفاتورة </legend>
                               <table class="table table-sm table-bordered">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>كود الصنف</th>
                                    <th> الصنف</th>
                                    <th>السعر باليورو قبل الخصم</th>
                                    <th>السعر بالريال بعد الخصم</th>
                                    <th>المساحة</th>
                                    <th>سعر المتر بالريال بعد الخصم</th>
                                    <!-- <th>إجمالي</th> -->
                                    <th>ض ق م %15  </th>
                                    <th> الإجمالي بعد الضريبة والخصم</th>
                                    <th>
                                      <a class="btn btn-sm btn-danger text-white" (click)="AddOrEditSalInvItems(null,PriceListsServ.formData.priceList_ID)"><i class="fa fa-plus"></i>إضافة </a>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let Item of PriceListsServ.formData.priceListItems;let i=index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{Item.item_ID}}</td>
                                    <td>{{Item.priceListItem_Name}}</td>
                                    <td>{{Item.item_Price_Value_Curr}}</td>
                                    <td>{{Item.item_Price_Value}}</td>
                                    <td>{{Item.item_Total_Area}}</td>
                                    <td>{{Item.item_Price_Value_PerMeter}}</td>
                                    <!-- <td>{{Item.item_Total_Price}}</td> -->
                                    <td>{{Item.item_Total_Tax}}</td>
                                    <td>{{Item.item_SubTotal}}</td>
                                    <td>
                                      <a class="btn btn-sm btn-info text-white" (click)="AddOrEditSalInvItems(i,PriceListsServ.formData.priceList_ID)"><i class="fa fa-pencil"></i>تعديل</a>
                                      <a class="btn btn-sm btn-primary text-white ml-1" (click)="onDeleteSalInvItems(Item.priceList_ID, i)"><i class="fa fa-trash"></i>حذف</a>
                                    </td>
                                  </tr>

                                </tbody>
                              </table>
                            </fieldset>
                         </div>


                        </div>
                      </div>
                    </div>





                    <div class="row">
                      <div class="col-xl-12 col-lg-12 mb-2">
                        <div class="table-responsive text-nowrap">



                          <div id="main">
                            <h5 style="font-weight:bold ; margin-left: 14px;"> أصناف أخرى </h5> <button  [hidden]="PriceListsServ.formData.priceListOtherItems.length > 0"
                              class="btn btn-sm btn-danger text-white" type="button"
                              (click)="AddOrEditSalInvOItems(null,PriceListsServ.formData.priceList_ID)"><i class="fa fa-plus"></i>إضافة </button>

                          </div>

                          <table class="table table-sm table-bordered" *ngIf="PriceListsServ.formData.priceListOtherItems.length > 0">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th> اسم الصنف</th>
                                <th> سعر الوحدة</th>
                                <th>الكمية</th>
                                <th>الإجمالي</th>
                                <th>ضريبة %15 </th>
                                <th> الإجمالي </th>

                                <th>
                                  <a class="btn btn-sm btn-danger text-white"
                                    (click)="AddOrEditSalInvOItems(null,PriceListsServ.formData.priceList_ID)"><i class="fa fa-plus"></i>إضافة
                                  </a>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let Item of PriceListsServ.formData.priceListOtherItems;let i=index;">
                                <th scope="row">{{i+1}}</th>
                                <td>{{Item.otherItem_Name}}</td>
                                <td>{{Item.otherItem_Price}}</td>
                                <td>{{Item.otherItem_QTY}}</td>
                                <td>{{Item.otherItem_Total_Price}}</td>
                                <td>{{Item.otherItem_Total_Tax}}</td>
                                <td>{{Item.otherItem_SubTotal}}</td>

                                <td>
                                  <a class="btn btn-sm btn-info text-white"
                                    (click)="AddOrEditSalInvOItems(i,PriceListsServ.formData.priceList_ID)"><i class="fa fa-pencil"></i>تعديل</a>
                                  <a class="btn btn-sm btn-primary text-white ml-1" (click)="onDeleteSalInvOItems(Item.priceList_ID, i)"><i
                                      class="fa fa-trash"></i>حذف</a>
                                </td>
                              </tr>

                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>



                    <div class="row">
                      <div class="col-xl-12 col-lg-12 mb-2">
                        <div class="table-responsive text-nowrap">
                          <div id="form" >


                              <div id="main">
                                <h5 style="font-weight:bold ; margin-left: 14px;"> إضافات </h5>
                                <button [hidden]="PriceListsServ.formData.priceListAddOns.length > 0" type="button" class="btn btn-sm btn-danger text-white" (click)="AddOrEditSalInvAddOnItems(null,PriceListsServ.formData.priceList_ID)"><i class="fa fa-plus"></i>إضافة </button>

                              </div>

                               <table class="table table-sm table-bordered" *ngIf="PriceListsServ.formData.priceListAddOns.length > 0">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th> اسم الصنف</th>
                                    <th>إجمالي السعر</th>

                                    <th>
                                      <a class="btn btn-sm btn-danger text-white" (click)="AddOrEditSalInvAddOnItems(null,PriceListsServ.formData.priceList_ID)" ><i class="fa fa-plus"></i>إضافة </a>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let Item of PriceListsServ.formData.priceListAddOns;let i=index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{Item.addOn_Name}}</td>
                                    <td>{{Item.addOn_SubTotal}}</td>
                                    <td>
                                      <a class="btn btn-sm btn-info text-white" (click)="AddOrEditSalInvAddOnItems(i,PriceListsServ.formData.priceList_ID)"><i class="fa fa-pencil"></i>تعديل</a>
                                      <a class="btn btn-sm btn-primary text-white ml-1" (click)="onDeleteSalInvADDOItems(Item.priceList_ID, i)"><i class="fa fa-trash"></i>حذف</a>
                                    </td>
                                  </tr>

                                </tbody>
                              </table>

                         </div>
                        </div>
                      </div>
                    </div>






                      <div class="row mt-3">
                        <div class="col-xl-12 col-lg-12 mb-2">
                          <div class="table-responsive text-nowrap">
                            <table class="table table-sm table-bordered">
                              <thead>
                                <tr>
                                  <th rowspan="2" style="vertical-align: middle;"> إجمالى العرض</th>
                                  <th colspan="2">دفعة 1</th>
                                  <th colspan="2">دفعة 2 </th>
                                  <th colspan="2">دفعة 3</th>
                                </tr>

                                <tr>

                                  <th>النسية</th>
                                  <th>القيمة</th>
                                  <th>النسية</th>
                                  <th>القيمة</th>
                                  <th>النسية</th>
                                  <th>القيمة</th>
                              </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td rowspan="2">{{PriceListsServ.formData.priceList_Total}}</td>
                                  <td rowspan="2" style="width:150px;"><input style="width:50%;" type="text"  name="payment_First_Percent" #payment_First_Percent="ngModel"  [(ngModel)]="PriceListsServ.formData.payment_First_Percent"  [class.is-invalid]="!isValid && (PriceListsServ.formData.payment_First_Percent == null )" (keyup)="calcDiscRatio()"/> %</td>
                                  <td rowspan="2"> {{PriceListsServ.formData.payment_First_Value}}</td>

                                  <td rowspan="2" style="width:150px;"><input style="width:50%" type="text"  name="payment_Second_Percent" #payment_Second_Percent="ngModel"  [(ngModel)]="PriceListsServ.formData.payment_Second_Percent"  [class.is-invalid]="!isValid && (PriceListsServ.formData.payment_Second_Percent == null )" (keyup)="calcDiscRatio()"/> %</td>
                                  <td rowspan="2"> {{PriceListsServ.formData.payment_Second_Value}}</td>

                                  <td rowspan="2" style="width:150px;"><input style="width:50%" type="text"  name="payment_Third_Percent" #payment_Third_Percent="ngModel"  [(ngModel)]="PriceListsServ.formData.payment_Third_Percent"  [class.is-invalid]="!isValid && (PriceListsServ.formData.payment_Third_Percent == null )" (keyup)="calcDiscRatio()"/> %</td>
                                  <td rowspan="2"> {{PriceListsServ.formData.payment_Third_Value}}</td>

                                  <!--
                                  <td> {{PriceListsServ.formData.payment_Second_Percent}} % -- {{PriceListsServ.formData.payment_Second_Value}}</td>
                                  <td> {{PriceListsServ.formData.payment_Third_Percent}}  % -- {{PriceListsServ.formData.payment_Third_Value}}</td> -->
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>



                      <div class="row mb-2" style="display: flex;
                      justify-content: center">

                        <div class="col-md-4 ml-2">
                          <div class="form-group" style="display: flex;
                          flex-direction: column; align-items: center;">
                            <label style="font-weight: 700;"> مرفق 1 </label>
                            <img [src]="imageUrl" style="height:70px; text-align: center;">


                            <input style="width: auto;" type="file" #Image accept="image/*" (change)="handleFileSelect($event)" name="attachment_1_File" #attachment_1_File="ngModel" [(ngModel)]="PriceListsServ.formData.attachment_1_File" class="form-control">

                          </div>

                        </div>

                        <div class="col-md-4">
                          <div class="form-group" style="display: flex;
                          flex-direction: column; align-items: center;">
                            <label style="font-weight: 700;">مرفق 2  </label>
                            <img [src]="imageUrl2" style="height:70px; text-align: center;">


                            <input style="width: auto;" type="file" #Image accept="image/*" (change)="handleFileSelect2($event)" name="attachment_2_File" #attachment_2_File="ngModel" [(ngModel)]="PriceListsServ.formData.attachment_2_File" class="form-control">

                          </div>

                        </div>
                      </div>





                    <!-- <div class="row">


                      <!-- <div class="col-md-4">
                        <label for="Department">صافى العرض</label>
                        <input name="NetAfterDisc" #NetAfterDisc="ngModel" [(ngModel)]="PriceListsServ.formData.NetAfterDisc"
                          class="form-control" placeholder="صافي العرض" required data-toggle="tooltip"
                          data-placement="top" title data-original-title="صافى العرض">
                      </div> --

                      <!-- <div class="col-md-2">
                        <label >مدة العرض من </label>
                        <input name="ListTimeFrom" #ListTimeFrom="ngModel" [(ngModel)]="PriceListsServ.formData.ListTimeFrom"  placeholder="مدة العرض من" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="مدة العرض من" >
                      </div>


                      <div class="col-md-2">
                        <label >مدة العرض إلى</label>
                        <input name="ListTimeTo" #ListTimeTo="ngModel" [(ngModel)]="PriceListsServ.formData.ListTimeTo"  placeholder="مدة العرض إلى" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="مدة العرض إلى"  >
                      </div>

                      <div class="col-md-2">
                        <label >اسم مقدم العرض</label>
                        <input name="EmpResp" #EmpResp="ngModel" [(ngModel)]="PriceListsServ.formData.EmpResp" class="form-control" placeholder="اسم مقدم العرض" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="اسم مقدم العرض">
                      </div> --


                    </div>


                     <div class="row">

                     <div class="col-md-2">
                        <label for="Department">نسبة الخصم</label>
                        <input name="SellingDiscRatio" #SellingDiscRatio="ngModel"
                          [(ngModel)]="PriceListsServ.formData.SellingDiscRatio" placeholder="اجمالى العرض" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="نسبة الخصم"
                          (keyup)="calcDiscValue()">%
                      </div>
                      <div class="col-md-2">
                        <label for="Department">قيمة الخصم</label>
                        <input name="ListDisc" #ListDisc="ngModel" [(ngModel)]="PriceListsServ.formData.ListDisc"
                          placeholder="قيمة الخصم" required data-toggle="tooltip" data-placement="top" title
                          data-original-title="خصم العرض" (keyup)="calcDiscRatio()">
                      </div>
                      <div class="col-md-2">
                        <label for="Department">صافى العرض</label>
                        <input name="NetAfterDisc" #NetAfterDisc="ngModel" [(ngModel)]="PriceListsServ.formData.NetAfterDisc"
                          class="form-control" placeholder="صافي العرض" required data-toggle="tooltip"
                          data-placement="top" title data-original-title="صافى العرض">
                      </div>

                    </div>-->


<!--
                     <div class="row" style="margin-top: 20px;">

                      <div class="col-md-3">
                        <label >مدة العرض من </label>
                        <!-- <input name="ListTimeFrom" #ListTimeFrom="ngModel" [(ngModel)]="PriceListsServ.formData.ListTimeFrom"  placeholder="مدة العرض من" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="مدة العرض من" > --
                          <fieldset class="form-group position-relative has-icon-left">
                            <input name="ListTimeFrom" #ListTimeFrom="ngModel"
                            [ngModel]="PriceListsServ.formData.ListTimeFrom | date:'yyyy-MM-dd'"
                            (ngModelChange)="PriceListsServ.formData.ListTimeFrom = $event" class="form-control"
                                placeholder="مدة العرض من" required data-toggle="tooltip"
                                data-placement="top" title data-original-title="مدة العرض من" type="date">
                          </fieldset>
                      </div>


                      <div class="col-md-3">
                        <label >مدة العرض إلى</label>
                        <!-- <input name="ListTimeTo" #ListTimeTo="ngModel" [(ngModel)]="PriceListsServ.formData.ListTimeTo"  placeholder="مدة العرض إلى" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="مدة العرض إلى" > --


                          <fieldset class="form-group position-relative has-icon-left">
                            <input name="ListTimeTo" #ListTimeTo="ngModel"
                            [ngModel]="PriceListsServ.formData.ListTimeTo | date:'yyyy-MM-dd'"
                            (ngModelChange)="PriceListsServ.formData.ListTimeTo = $event" class="form-control"
                                placeholder="مدة العرض إلى" required data-toggle="tooltip"
                                data-placement="top" title data-original-title="مدة العرض إلى" type="date">
                          </fieldset>
                      </div>


                      <div class="col-md-3">
                        <label > شروط العرض</label>
                        <input name="PayCond" #PayCond="ngModel" [(ngModel)]="PriceListsServ.formData.PayCond" class="form-control" placeholder="شروط العرض" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="شروط العرض">
                      </div>


                      <div class="col-md-3">
                        <label >اسم مقدم العرض</label>
                        <input name="EmpResp" #EmpResp="ngModel" [(ngModel)]="PriceListsServ.formData.EmpResp" class="form-control" placeholder="اسم مقدم العرض" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="اسم مقدم العرض">
                      </div>

                      <!-- -- <div class="col-md-2">
                        <label >اجمالي العرض</label>
                        <input name="PriceListVal" #PriceListVal="ngModel" [(ngModel)]="PriceListsServ.formData.PriceListVal" class="form-control" placeholder="اجمالي العرض" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="اجمالي العرض">
                      </div>


                      <div class="col-md-2">
                        <label >قيمة الخصم</label>
                          <input name="ListDisc" #ListDisc="ngModel" [(ngModel)]="PriceListsServ.formData.ListDisc"  placeholder="الخصم" required
                          data-toggle="tooltip" data-placement="top"  title data-original-title="خصم " (keyup)="calcDiscRatio()">
                      </div>

                      <div class="col-md-2">
                        <label >صافى العرض</label>
                        <input name="Net" #Net="ngModel" [(ngModel)]="PriceListsServ.formData.Net" class="form-control" placeholder="صافي العرض" required
                          data-toggle="tooltip" data-placement="top" title data-original-title="صافى العرض">
                      </div> --




                  </div>


                  <div class="row">




                  </div> -->





                    <div class="row mt-3">
                      <div class="col-md-12" style="margin-right: 25px; text-align:center">
                          <button *ngIf="print" type='button' class="btn text-danger mr-2"
                          (click)="printPdf(this.PriceListsServ.formData.priceList_ID)"><i
                              class="fa fa-print fa-lg"></i>
                         </button>

                        <button class="btn btn-danger"  type="submit" ><i class="icon-check2" ></i>
                          حفظ</button>


                          <button class="btn btn-outline-dark ml-2 " type='button' routerLink="/priceListView" ><i class="fa fa-table"></i> الرجوع لاستعراض عروض الاسعار</button>
                      </div>
                    </div>


                  </form>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
